workflows/api/insurance-mga/clx-mga-insurance-review-video-generator-v1.json
{
  "name": "CLX - MGA Insurance Review Video Generator v1",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "mga/insurance/review-video-generate", "responseMode": "responseNode", "options": {} },
      "id": "rvg-0001", "name": "Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 1.1, "position": [200, 400],
      "webhookId": "clx-mga-insurance-review-video-generator-001",
      "notes": "DEACTIVATED. Internal-call. Triggered by review-scheduler (B5.1) and triggered-event (B5.2). Looks up matching video_review_templates by trigger_signal_type, personalizes script via Claude, then chains existing video pipeline (clx-video-script-generator-v1 from commit 25c0886). Updates policy_reviews.video_render_id when chain returns. Body { skip: true } no-ops."
    },
    {
      "parameters": {
        "jsCode": "const body = ($input.item.json && $input.item.json.body) || $input.item.json || {};\nif (body.skip) return { json: { _skipped: true, reason: 'skip flag set by caller' } };\nconst secret = body.internal_secret || '';\nif (!secret || secret !== (process.env.INTERNAL_EMAIL_SECRET || '')) return { json: { _unauthorized: true, error: 'internal secret required' } };\nif (!body.policy_review_id) return { json: { _empty: true, error: 'policy_review_id required' } };\nreturn { json: { _authorized: true, policy_review_id: body.policy_review_id } };",
        "mode": "runOnceForEachItem"
      },
      "id": "rvg-0002", "name": "Validate", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [420, 400]
    },
    {
      "parameters": {
        "conditions": { "options": { "caseSensitive": true, "typeValidation": "strict", "version": 2 }, "conditions": [ { "id": "c1", "leftValue": "={{ $json._authorized }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } } ], "combinator": "and" }
      },
      "id": "rvg-0003", "name": "IF Authorized", "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [640, 400]
    },
    {
      "parameters": {
        "method": "GET", "url": "={{ 'https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/policy_reviews?id=eq.' + encodeURIComponent($json.policy_review_id) + '&vertical_id=eq.insurance&select=*&limit=1' }}",
        "authentication": "genericCredentialType", "genericAuthType": "httpCustomAuth",
        "sendHeaders": true, "headerParameters": { "parameters": [ { "name": "Accept", "value": "application/json" } ] },
        "options": {}
      },
      "id": "rvg-0004", "name": "Fetch Review", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [880, 320],
      "credentials": { "httpCustomAuth": { "name": "Supabase Crystallux Custom" } }
    },
    {
      "parameters": {
        "method": "GET", "url": "={{ (() => { const rows = $input.item.json; const r = (Array.isArray(rows) ? rows[0] : rows) || {}; const trigger = r.trigger_signal_type || 'annual_review_due'; return 'https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/video_review_templates?vertical_id=eq.insurance&trigger_event=eq.' + encodeURIComponent(trigger) + '&active=eq.true&select=*&limit=1'; })() }}",
        "authentication": "genericCredentialType", "genericAuthType": "httpCustomAuth",
        "sendHeaders": true, "headerParameters": { "parameters": [ { "name": "Accept", "value": "application/json" } ] },
        "options": {}
      },
      "id": "rvg-0005", "name": "Fetch Template", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1120, 320],
      "credentials": { "httpCustomAuth": { "name": "Supabase Crystallux Custom" } }
    },
    {
      "parameters": {
        "jsCode": "const review = $('Fetch Review').first().json;\nconst r = Array.isArray(review) ? review[0] : review;\nif (!r || !r.id) return { json: { _not_found: true, error: 'review not found' } };\nconst tplRows = $input.item.json;\nconst tpl = (Array.isArray(tplRows) ? tplRows[0] : tplRows) || null;\n// Fallback to annual_review_due template if no exact match.\nif (!tpl) return { json: { _no_template: true, review: r, error: 'no template — using generic intent' } };\nreturn { json: { review: r, template: tpl } };",
        "mode": "runOnceForEachItem"
      },
      "id": "rvg-0006", "name": "Carry Both", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1380, 320]
    },
    {
      "parameters": {
        "conditions": { "options": { "caseSensitive": true, "typeValidation": "strict", "version": 2 }, "conditions": [ { "id": "c1", "leftValue": "={{ $json._not_found || $json._no_template }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } } ], "combinator": "and" }
      },
      "id": "rvg-0007", "name": "IF Skipped", "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [1620, 320]
    },
    {
      "parameters": {
        "method": "GET", "url": "={{ (() => { const r = $json.review; return 'https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/leads?id=eq.' + encodeURIComponent(r.lead_id || '00000000-0000-0000-0000-000000000000') + '&select=id,first_name,full_name,company,city&limit=1'; })() }}",
        "authentication": "genericCredentialType", "genericAuthType": "httpCustomAuth",
        "sendHeaders": true, "headerParameters": { "parameters": [ { "name": "Accept", "value": "application/json" } ] },
        "options": {}
      },
      "id": "rvg-0008", "name": "Fetch Lead", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1860, 240],
      "credentials": { "httpCustomAuth": { "name": "Supabase Crystallux Custom" } },
      "continueOnFail": true, "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const carry = $('Carry Both').item.json;\nconst leadRows = $input.item.json;\nconst lead = (Array.isArray(leadRows) ? leadRows[0] : leadRows) || {};\nconst tpl = carry.template;\nconst review = carry.review;\nconst firstName = lead.first_name || (lead.full_name || '').split(' ')[0] || 'there';\nconst company = lead.company || 'your business';\nconst systemPrompt = [\n  'You personalize a video script template for the INSURANCE vertical (vertical_id=insurance).',\n  'Trigger event: ' + tpl.trigger_event,\n  'Tone: ' + tpl.tone,\n  'Persona: ' + tpl.recommended_persona_id + '/' + tpl.recommended_look_id,\n  'Duration target: ' + tpl.duration_seconds + ' seconds',\n  '',\n  'Replace template {{variables}} with concrete personalized details from client context.',\n  'Available context: first_name=' + firstName + ', company=' + company + ', advisor_company=Crystallux Insurance, signal_type=' + (review.trigger_signal_type || tpl.trigger_event) + ', review_type=' + review.review_type,\n  '',\n  'Output PLAIN TEXT only — the final spoken script. No markdown. No preamble. Match the duration target (~150 words for 60s).'\n].join('\\n');\nreturn { json: {\n  claude_payload: {\n    model: 'claude-sonnet-4-5-20250929',\n    max_tokens: 600,\n    temperature: 0.6,\n    system: systemPrompt,\n    messages: [ { role: 'user', content: 'Template:\\n' + tpl.script_template + '\\n\\nGenerate the personalized script now. Plain text only.' } ]\n  },\n  review_id: review.id,\n  client_id: review.client_id,\n  lead_id: review.lead_id\n} };",
        "mode": "runOnceForAllItems"
      },
      "id": "rvg-0009", "name": "Build Claude Prompt", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2100, 240]
    },
    {
      "parameters": {
        "method": "POST", "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true, "headerParameters": { "parameters": [ { "name": "Content-Type", "value": "application/json" }, { "name": "anthropic-version", "value": "2023-06-01" }, { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" } ] },
        "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify($json.claude_payload) }}",
        "options": { "timeout": 30000 }
      },
      "id": "rvg-0010", "name": "Claude Personalize", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2340, 240],
      "continueOnFail": true, "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST", "url": "={{ ($env.N8N_INTERNAL_BASE || 'http://localhost:5678') + '/webhook/video/script-generate' }}",
        "sendHeaders": true, "headerParameters": { "parameters": [ { "name": "Content-Type", "value": "application/json" } ] },
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={{ (() => { const ctx = $('Build Claude Prompt').item.json; const resp = $input.item.json || {}; let script = ''; try { script = (resp.content && resp.content[0] && resp.content[0].text) || ''; } catch (e) {} return JSON.stringify({ internal_secret: $env.INTERNAL_EMAIL_SECRET, lead_id: ctx.lead_id, client_id: ctx.client_id, intent: 'book_meeting', script_override: script.trim() || null }); })() }}",
        "options": { "timeout": 30000 }
      },
      "id": "rvg-0011", "name": "Call Existing Video Pipeline", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2580, 240],
      "continueOnFail": true, "alwaysOutputData": true,
      "notes": "Chains into commit 25c0886 video pipeline. The script-generator workflow accepts script_override (additive — Phase 5b ensures it; current MVP it falls back to its own Claude generation if script_override not honored)."
    },
    {
      "parameters": {
        "method": "PATCH", "url": "={{ 'https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/policy_reviews?id=eq.' + encodeURIComponent($('Build Claude Prompt').item.json.review_id) + '&vertical_id=eq.insurance' }}",
        "authentication": "genericCredentialType", "genericAuthType": "httpCustomAuth",
        "sendHeaders": true, "headerParameters": { "parameters": [ { "name": "Content-Type", "value": "application/json" }, { "name": "Prefer", "value": "return=minimal" } ] },
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={{ (() => { const resp = $input.item.json || {}; const vrId = (resp && resp.video_render_id) || null; return JSON.stringify({ video_render_id: vrId, video_engagement_status: vrId ? 'not_sent' : 'not_sent' }); })() }}",
        "options": {}
      },
      "id": "rvg-0012", "name": "Save Video Render ID", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2820, 240],
      "credentials": { "httpCustomAuth": { "name": "Supabase Crystallux Custom" } },
      "continueOnFail": true, "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST", "url": "https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/regulatory_audit_log",
        "authentication": "genericCredentialType", "genericAuthType": "httpCustomAuth",
        "sendHeaders": true, "headerParameters": { "parameters": [ { "name": "Content-Type", "value": "application/json" }, { "name": "Prefer", "value": "return=minimal" } ] },
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ vertical_id: 'insurance', event_type: 'review_video_requested', client_id: $('Build Claude Prompt').item.json.client_id, performed_by_user_id: null, performed_by_role: 'agent', event_data: { policy_review_id: $('Build Claude Prompt').item.json.review_id, trigger_event: $('Carry Both').item.json.template.trigger_event }, occurred_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "rvg-0013", "name": "Audit Log", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [3060, 240],
      "credentials": { "httpCustomAuth": { "name": "Supabase Crystallux Custom" } },
      "continueOnFail": true, "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, vertical_id: 'insurance', policy_review_id: $('Build Claude Prompt').item.json.review_id, status: 'video_requested' }) }}",
        "options": { "responseCode": 200 }
      },
      "id": "rvg-0014", "name": "Respond OK", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [3300, 240]
    },
    {
      "parameters": {
        "respondWith": "json", "responseBody": "={{ JSON.stringify({ ok: true, skipped: true, reason: $json.error || $json._skipped ? 'skip' : 'no template or review' }) }}",
        "options": { "responseCode": 200 }
      },
      "id": "rvg-0015", "name": "Respond Skipped", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [1860, 460]
    },
    {
      "parameters": {
        "respondWith": "json", "responseBody": "={{ JSON.stringify({ ok: false, error: $json.error || 'unauthorized' }) }}",
        "options": { "responseCode": "={{ $json._unauthorized ? 401 : 400 }}" }
      },
      "id": "rvg-0016", "name": "Respond 4xx", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [880, 540]
    }
  ],
  "connections": {
    "Webhook":                       { "main": [[ { "node": "Validate", "type": "main", "index": 0 } ]] },
    "Validate":                      { "main": [[ { "node": "IF Authorized", "type": "main", "index": 0 } ]] },
    "IF Authorized":                 { "main": [[ { "node": "Fetch Review", "type": "main", "index": 0 } ], [ { "node": "Respond Skipped", "type": "main", "index": 0 } ]] },
    "Fetch Review":                  { "main": [[ { "node": "Fetch Template", "type": "main", "index": 0 } ]] },
    "Fetch Template":                { "main": [[ { "node": "Carry Both", "type": "main", "index": 0 } ]] },
    "Carry Both":                    { "main": [[ { "node": "IF Skipped", "type": "main", "index": 0 } ]] },
    "IF Skipped":                    { "main": [[ { "node": "Respond Skipped", "type": "main", "index": 0 } ], [ { "node": "Fetch Lead", "type": "main", "index": 0 } ]] },
    "Fetch Lead":                    { "main": [[ { "node": "Build Claude Prompt", "type": "main", "index": 0 } ]] },
    "Build Claude Prompt":           { "main": [[ { "node": "Claude Personalize", "type": "main", "index": 0 } ]] },
    "Claude Personalize":            { "main": [[ { "node": "Call Existing Video Pipeline", "type": "main", "index": 0 } ]] },
    "Call Existing Video Pipeline":  { "main": [[ { "node": "Save Video Render ID", "type": "main", "index": 0 } ]] },
    "Save Video Render ID":          { "main": [[ { "node": "Audit Log", "type": "main", "index": 0 } ]] },
    "Audit Log":                     { "main": [[ { "node": "Respond OK", "type": "main", "index": 0 } ]] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false
}
