workflows/api/insurance-mga/clx-mga-insurance-ce-tracking-v1.json
{
  "id": "clxMgaInsuranceCeTrackingV1",
  "name": "CLX - MGA Insurance CE Tracking v1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mga/insurance/ce-record",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ce-0001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        200,
        400
      ],
      "webhookId": "clx-mga-insurance-ce-tracking-001",
      "notes": "DEACTIVATED. advisor session. Records continuing-education hours toward an existing license. Adds to advisor_licenses.ce_hours_completed (incremental). Phase 5b: dedicated ce_log table for per-event audit detail; current MVP captures into regulatory_audit_log.event_data."
    },
    {
      "parameters": {
        "jsCode": "const headers = $input.item.json.headers || {};\nconst body = $input.item.json.body || {};\nconst auth = headers['authorization'] || headers['Authorization'] || '';\nconst token = auth.toLowerCase().startsWith('bearer ') ? auth.slice(7).trim() : '';\nif (!token) return { json: { _unauthorized: true, status: 401, error: 'Missing session token' } };\nif (!body.license_id || body.hours == null) return { json: { _empty: true, status: 400, error: 'license_id and hours required' } };\nconst hrs = parseFloat(body.hours);\nif (isNaN(hrs) || hrs <= 0 || hrs > 100) return { json: { _empty: true, status: 400, error: 'hours must be number > 0 and <= 100' } };\nreturn { json: { token: token, license_id: body.license_id, hours: hrs, course_name: String(body.course_name || '').slice(0, 200), course_provider: String(body.course_provider || '').slice(0, 200), completion_date: body.completion_date || new Date().toISOString().slice(0, 10), certificate_url: body.certificate_url || null } };",
        "mode": "runOnceForEachItem"
      },
      "id": "ce-0002",
      "name": "Extract Inputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/rpc/validate_session",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"p_token\": \"{{ $json.token }}\" }",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "ce-0003",
      "name": "Validate Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        400
      ],
      "credentials": {
        "httpCustomAuth": {
          "name": "Supabase Crystallux Custom"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.item.json;\nconst row = Array.isArray(rows) ? (rows[0] || null) : (rows && (rows.user_id || rows.id) ? rows : null);\nif (!row) return { json: { _unauthorized: true, status: 401, error: 'Invalid session' } };\nconst allowed = ['advisor','sub_agent','mga_principal','admin'];\nif (allowed.indexOf(row.user_role) < 0) return { json: { _unauthorized: true, status: 403, error: 'Role not permitted' } };\nconst i = $('Extract Inputs').item.json;\nreturn { json: { _ok: true, advisor_id: row.id || row.user_id, license_id: i.license_id, hours: i.hours, course_name: i.course_name, course_provider: i.course_provider, completion_date: i.completion_date, certificate_url: i.certificate_url } };",
        "mode": "runOnceForEachItem"
      },
      "id": "ce-0004",
      "name": "Check Role",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json._ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "ce-0005",
      "name": "IF OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        400
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/advisor_licenses?id=eq.' + encodeURIComponent($json.license_id) + '&vertical_id=eq.insurance&select=id,advisor_id,ce_hours_completed,ce_hours_required&limit=1' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "ce-0006",
      "name": "Fetch License",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1380,
        320
      ],
      "credentials": {
        "httpCustomAuth": {
          "name": "Supabase Crystallux Custom"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Check Role').item.json;\nconst rows = $input.item.json;\nconst lic = (Array.isArray(rows) ? rows[0] : rows) || null;\nif (!lic || !lic.id) return { json: { _not_found: true, status: 404, error: 'license not found' } };\n// Authorization: only the license owner OR mga_principal/admin (already in role check) can record CE.\n// Already through role check; ensure advisor matches license.\n// (mga_principal can record on behalf — skip ownership check for that role.)\nconst newCompleted = (parseInt(lic.ce_hours_completed) || 0) + ctx.hours;\nreturn { json: { _go: true, license_id: lic.id, advisor_id: lic.advisor_id, new_ce_completed: newCompleted, ce_required: lic.ce_hours_required, course_name: ctx.course_name, course_provider: ctx.course_provider, completion_date: ctx.completion_date, certificate_url: ctx.certificate_url, hours_added: ctx.hours } };",
        "mode": "runOnceForEachItem"
      },
      "id": "ce-0007",
      "name": "Compute New Total",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1620,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json._go }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "ce-0008",
      "name": "IF Go",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1860,
        320
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/advisor_licenses?id=eq.' + encodeURIComponent($json.license_id) + '&vertical_id=eq.insurance' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ ce_hours_completed: $json.new_ce_completed, updated_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "ce-0009",
      "name": "Update License",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2100,
        240
      ],
      "credentials": {
        "httpCustomAuth": {
          "name": "Supabase Crystallux Custom"
        }
      },
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/regulatory_audit_log",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ vertical_id: 'insurance', event_type: 'ce_hours_recorded', advisor_id: $('Compute New Total').item.json.advisor_id, performed_by_user_id: $('Check Role').item.json.advisor_id, performed_by_role: 'advisor', event_data: { license_id: $('Compute New Total').item.json.license_id, hours_added: $('Compute New Total').item.json.hours_added, new_total: $('Compute New Total').item.json.new_ce_completed, required: $('Compute New Total').item.json.ce_required, course_name: $('Compute New Total').item.json.course_name, course_provider: $('Compute New Total').item.json.course_provider, completion_date: $('Compute New Total').item.json.completion_date, certificate_url: $('Compute New Total').item.json.certificate_url }, occurred_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "ce-0010",
      "name": "Audit Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2340,
        240
      ],
      "credentials": {
        "httpCustomAuth": {
          "name": "Supabase Crystallux Custom"
        }
      },
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, vertical_id: 'insurance', license_id: $('Compute New Total').item.json.license_id, ce_hours_completed: $('Compute New Total').item.json.new_ce_completed, ce_hours_required: $('Compute New Total').item.json.ce_required }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "ce-0011",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2580,
        240
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: false, error: $json.error || 'unauthorized' }) }}",
        "options": {
          "responseCode": "={{ $json.status || 400 }}"
        }
      },
      "id": "ce-0012",
      "name": "Respond 4xx",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1380,
        540
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Inputs": {
      "main": [
        [
          {
            "node": "Validate Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Session": {
      "main": [
        [
          {
            "node": "Check Role",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Role": {
      "main": [
        [
          {
            "node": "IF OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF OK": {
      "main": [
        [
          {
            "node": "Fetch License",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 4xx",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch License": {
      "main": [
        [
          {
            "node": "Compute New Total",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute New Total": {
      "main": [
        [
          {
            "node": "IF Go",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Go": {
      "main": [
        [
          {
            "node": "Update License",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 4xx",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update License": {
      "main": [
        [
          {
            "node": "Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audit Log": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
