workflows/api/insurance-mga/clx-mga-insurance-review-documentation-v1.json
{
  "name": "CLX - MGA Insurance Review Documentation v1",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "mga/insurance/review-documentation", "responseMode": "responseNode", "options": {} },
      "id": "rdc-0001", "name": "Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 1.1, "position": [200, 400],
      "webhookId": "clx-mga-insurance-review-documentation-001",
      "notes": "DEACTIVATED. Internal-call. Auto-generates review documentation HTML, uploads to private R2 at /reviews/insurance/{client_id}/, sets policy_reviews.documentation_url. Phase 5b: chains to e-signature for client acknowledgment."
    },
    {
      "parameters": {
        "jsCode": "const body = ($input.item.json && $input.item.json.body) || $input.item.json || {};\nconst secret = body.internal_secret || '';\nif (!secret || secret !== (process.env.INTERNAL_EMAIL_SECRET || '')) return { json: { _unauthorized: true, error: 'internal secret required' } };\nif (!body.policy_review_id) return { json: { _empty: true, error: 'policy_review_id required' } };\nreturn { json: { _authorized: true, policy_review_id: body.policy_review_id } };",
        "mode": "runOnceForEachItem"
      },
      "id": "rdc-0002", "name": "Validate", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [420, 400]
    },
    {
      "parameters": {
        "conditions": { "options": { "caseSensitive": true, "typeValidation": "strict", "version": 2 }, "conditions": [ { "id": "c1", "leftValue": "={{ $json._authorized }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } } ], "combinator": "and" }
      },
      "id": "rdc-0003", "name": "IF Authorized", "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [640, 400]
    },
    {
      "parameters": {
        "method": "GET", "url": "={{ 'https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/policy_reviews?id=eq.' + encodeURIComponent($json.policy_review_id) + '&vertical_id=eq.insurance&select=*&limit=1' }}",
        "authentication": "genericCredentialType", "genericAuthType": "httpCustomAuth",
        "sendHeaders": true, "headerParameters": { "parameters": [ { "name": "Accept", "value": "application/json" } ] },
        "options": {}
      },
      "id": "rdc-0004", "name": "Fetch Review", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [880, 320],
      "credentials": { "httpCustomAuth": { "name": "Supabase Crystallux Custom" } }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.item.json;\nconst r = (Array.isArray(rows) ? rows[0] : rows) || null;\nif (!r || !r.id) return { json: { _not_found: true, error: 'policy_review not found' } };\nconst esc = function (s) { return String(s == null ? '' : s).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;'); };\nconst html = [\n  '<!doctype html><html><head><meta charset=\"utf-8\"><title>Policy Review Record</title>',\n  '<style>body{font-family:Inter,sans-serif;max-width:720px;margin:32px auto;padding:0 24px;color:#1a1a1a;line-height:1.5}h1{color:#5B21B6}h2{color:#5B21B6;margin-top:24px;font-size:16px}.meta{color:#666;font-size:13px}pre{background:#F8F7FB;padding:12px 18px;border-radius:6px;font-size:13px;overflow-x:auto}</style>',\n  '</head><body>',\n  '<h1>Insurance Policy Review Record</h1>',\n  '<p class=\"meta\">Vertical: insurance · Review type: <strong>' + esc(r.review_type) + '</strong> · Conducted: ' + esc(r.conducted_date || '(pending)') + ' via ' + esc(r.conducted_via || '(unspecified)') + '</p>',\n  '<h2>Trigger</h2><p>Source: ' + esc(r.trigger_source || 'scheduled') + '. Signal type: ' + esc(r.trigger_signal_type || '—') + '</p>',\n  '<h2>Client situation changes</h2><pre>' + esc(JSON.stringify(r.client_situation_changes || {}, null, 2)) + '</pre>',\n  '<h2>Coverage adequacy</h2><p><strong>' + (r.coverage_still_adequate === true ? 'YES — coverage remains adequate' : (r.coverage_still_adequate === false ? 'NO — adjustment recommended' : 'Pending')) + '</strong></p>',\n  '<h2>Recommendations</h2><pre>' + esc(JSON.stringify(r.recommendations || [], null, 2)) + '</pre>',\n  '<h2>Outcome</h2><p>' + esc(r.outcome || '(pending)') + '</p>',\n  '<p class=\"meta\" style=\"margin-top:40px\">Generated by Crystallux AI · FSRA regulatory record · Compliance reference: REVIEW-' + esc(r.id) + '</p>',\n  '</body></html>'\n].join('\\n');\nconst storageKey = 'reviews/insurance/' + (r.client_id || 'orphan') + '/' + r.id + '.html';\nreturn { json: { html: html, storage_key: storageKey, review: r } };",
        "mode": "runOnceForEachItem"
      },
      "id": "rdc-0005", "name": "Render HTML", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1140, 320]
    },
    {
      "parameters": {
        "conditions": { "options": { "caseSensitive": true, "typeValidation": "strict", "version": 2 }, "conditions": [ { "id": "c1", "leftValue": "={{ $json._not_found }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } } ], "combinator": "and" }
      },
      "id": "rdc-0006", "name": "IF Not Found", "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [1380, 320]
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "={{ $env.R2_BUCKET || 'crystallux-videos' }}",
        "fileName": "={{ $json.storage_key }}",
        "fileContent": "={{ $json.html }}",
        "additionalFields": { "acl": "private", "tagsUi": { "tagsValues": [ { "key": "vertical_id", "value": "insurance" }, { "key": "kind", "value": "review_record" } ] } }
      },
      "id": "rdc-0007", "name": "Upload to R2", "type": "n8n-nodes-base.awsS3", "typeVersion": 2, "position": [1620, 240],
      "credentials": { "aws": { "name": "Cloudflare R2" } },
      "continueOnFail": true, "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "PATCH", "url": "={{ 'https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/policy_reviews?id=eq.' + encodeURIComponent($('Render HTML').item.json.review.id) + '&vertical_id=eq.insurance' }}",
        "authentication": "genericCredentialType", "genericAuthType": "httpCustomAuth",
        "sendHeaders": true, "headerParameters": { "parameters": [ { "name": "Content-Type", "value": "application/json" }, { "name": "Prefer", "value": "return=minimal" } ] },
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ documentation_url: ($env.R2_PUBLIC_URL || 'https://videos.crystallux.org') + '/' + $('Render HTML').item.json.storage_key }) }}",
        "options": {}
      },
      "id": "rdc-0008", "name": "Save URL", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1860, 240],
      "credentials": { "httpCustomAuth": { "name": "Supabase Crystallux Custom" } },
      "continueOnFail": true, "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, vertical_id: 'insurance', policy_review_id: $('Render HTML').item.json.review.id, documentation_url: ($env.R2_PUBLIC_URL || 'https://videos.crystallux.org') + '/' + $('Render HTML').item.json.storage_key }) }}",
        "options": { "responseCode": 200 }
      },
      "id": "rdc-0009", "name": "Respond OK", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [2100, 240]
    },
    {
      "parameters": {
        "respondWith": "json", "responseBody": "={{ JSON.stringify({ ok: false, error: $json.error || 'unauthorized' }) }}",
        "options": { "responseCode": "={{ $json._unauthorized ? 401 : ($json._not_found ? 404 : 400) }}" }
      },
      "id": "rdc-0010", "name": "Respond 4xx", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [880, 540]
    }
  ],
  "connections": {
    "Webhook":         { "main": [[ { "node": "Validate", "type": "main", "index": 0 } ]] },
    "Validate":        { "main": [[ { "node": "IF Authorized", "type": "main", "index": 0 } ]] },
    "IF Authorized":   { "main": [[ { "node": "Fetch Review", "type": "main", "index": 0 } ], [ { "node": "Respond 4xx", "type": "main", "index": 0 } ]] },
    "Fetch Review":    { "main": [[ { "node": "Render HTML", "type": "main", "index": 0 } ]] },
    "Render HTML":     { "main": [[ { "node": "IF Not Found", "type": "main", "index": 0 } ]] },
    "IF Not Found":    { "main": [[ { "node": "Respond 4xx", "type": "main", "index": 0 } ], [ { "node": "Upload to R2", "type": "main", "index": 0 } ]] },
    "Upload to R2":    { "main": [[ { "node": "Save URL", "type": "main", "index": 0 } ]] },
    "Save URL":        { "main": [[ { "node": "Respond OK", "type": "main", "index": 0 } ]] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false
}
