workflows/api/insurance-mga/clx-mga-insurance-insurer-account-create-v1.json
{
  "id": "clxMgaInsuranceInsurerAccountCreateV1",
  "name": "CLX - MGA Insurance Insurer Account Create v1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mga/insurance/insurer-account-create",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "iac-0001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        200,
        400
      ],
      "webhookId": "clx-mga-insurance-insurer-account-create-001",
      "notes": "DEACTIVATED. mga_principal/admin. Creates insurer_accounts row + audit entry. Welcome email kicked off internally."
    },
    {
      "parameters": {
        "jsCode": "const headers = $input.item.json.headers || {};\nconst body = $input.item.json.body || {};\nconst auth = headers['authorization'] || headers['Authorization'] || '';\nconst token = auth.toLowerCase().startsWith('bearer ') ? auth.slice(7).trim() : '';\nif (!token) return { json: { _unauthorized: true, status: 401 } };\nfor (const k of ['carrier_id','company_name','contact_email']) { if (!body[k]) return { json: { _empty: true, status: 400, error: 'Missing ' + k } }; }\nreturn { json: { token, body } };",
        "mode": "runOnceForEachItem"
      },
      "id": "iac-0002",
      "name": "Extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json._unauthorized || $json._empty }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "iac-0003",
      "name": "IF Bad",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        640,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/rpc/validate_session",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"p_token\": \"{{ $json.token }}\" }",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "iac-0004",
      "name": "Validate Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        400
      ],
      "credentials": {
        "httpCustomAuth": {
          "name": "Supabase Crystallux Custom"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.item.json;\nconst row = Array.isArray(rows) ? (rows[0] || null) : (rows && (rows.user_id || rows.id) ? rows : null);\nif (!row) return { json: { _unauthorized: true, status: 401 } };\nif (row.user_role !== 'mga_principal' && row.user_role !== 'admin') return { json: { _unauthorized: true, status: 403, error: 'mga_principal/admin role required' } };\nconst b = $('Extract').first().json.body;\nconst payload = { vertical_id: 'insurance', carrier_id: b.carrier_id, company_name: b.company_name, contact_name: b.contact_name || null, contact_email: b.contact_email, contact_phone: b.contact_phone || null, account_type: b.account_type || 'partner', access_level: b.access_level || 'standard', account_status: b.account_status || 'pending', data_sharing_consent: b.data_sharing_consent || {}, custom_branding: b.custom_branding || {}, created_by: row.user_id };\nreturn { json: { _ok: true, payload, actor_id: row.user_id } };",
        "mode": "runOnceForEachItem"
      },
      "id": "iac-0005",
      "name": "Check Role",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json._ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "iac-0006",
      "name": "IF OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1360,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/insurer_accounts?on_conflict=vertical_id,carrier_id,company_name",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.payload) }}",
        "options": {}
      },
      "id": "iac-0007",
      "name": "Upsert Account",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        320
      ],
      "credentials": {
        "httpCustomAuth": {
          "name": "Supabase Crystallux Custom"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/regulatory_audit_log",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"vertical_id\": \"insurance\", \"event_type\": \"insurer_account_created\", \"event_data\": {{ JSON.stringify({ company_name: $('Check Role').first().json.payload.company_name, carrier_id: $('Check Role').first().json.payload.carrier_id, account_type: $('Check Role').first().json.payload.account_type }) }}, \"actor_user_id\": \"{{ $('Check Role').first().json.actor_id }}\" }",
        "options": {
          "continueOnFail": true
        }
      },
      "id": "iac-0008",
      "name": "Audit Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1840,
        320
      ],
      "credentials": {
        "httpCustomAuth": {
          "name": "Supabase Crystallux Custom"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $('Upsert Account').first().json;\nconst row = Array.isArray(rows) ? rows[0] : rows;\nreturn { json: { ok: true, insurer_account: row } };",
        "mode": "runOnceForAllItems"
      },
      "id": "iac-0009",
      "name": "Shape Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        320
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 201
        }
      },
      "id": "iac-0010",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2320,
        320
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: false, error: $json.error || 'Unauthorized' }) }}",
        "options": {
          "responseCode": "={{ $json.status || 401 }}"
        }
      },
      "id": "iac-0011",
      "name": "Respond 4xx",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        880,
        200
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract": {
      "main": [
        [
          {
            "node": "IF Bad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Bad": {
      "main": [
        [
          {
            "node": "Respond 4xx",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validate Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Session": {
      "main": [
        [
          {
            "node": "Check Role",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Role": {
      "main": [
        [
          {
            "node": "IF OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF OK": {
      "main": [
        [
          {
            "node": "Upsert Account",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 4xx",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Account": {
      "main": [
        [
          {
            "node": "Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audit Log": {
      "main": [
        [
          {
            "node": "Shape Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shape Response": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
