workflows/api/insurance-mga/clx-mga-insurance-application-builder-v1.json
{
  "name": "CLX - MGA Insurance Application Builder v1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mga/insurance/application-build",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "abu-0001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [200, 400],
      "webhookId": "clx-mga-insurance-application-builder-001",
      "notes": "DEACTIVATED. Internal-call (INTERNAL_EMAIL_SECRET). Triggered after the client selects a policy_recommendation. Aggregates KYC + suitability + disclosures + recommendation (all WHERE vertical_id='insurance'), asks Claude to auto-complete a carrier application template, persists to policy_applications. Phase 5 MVP uses a generic application schema (Phase 6 swaps to per-carrier templates). Returns application_id for advisor review."
    },
    {
      "parameters": {
        "jsCode": "const body = ($input.item.json && $input.item.json.body) || $input.item.json || {};\nconst secret = body.internal_secret || '';\nconst expected = process.env.INTERNAL_EMAIL_SECRET || '';\nif (!expected || secret !== expected) return { json: { _unauthorized: true, error: 'internal secret required' } };\nif (!body.policy_recommendation_id) return { json: { _empty: true, error: 'policy_recommendation_id required' } };\nreturn { json: { _authorized: true, policy_recommendation_id: body.policy_recommendation_id } };",
        "mode": "runOnceForEachItem"
      },
      "id": "abu-0002",
      "name": "Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict", "version": 2 },
          "conditions": [ { "id": "c1", "leftValue": "={{ $json._authorized }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } } ],
          "combinator": "and"
        }
      },
      "id": "abu-0003",
      "name": "IF Authorized",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [640, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/policy_recommendations?id=eq.' + encodeURIComponent($json.policy_recommendation_id) + '&vertical_id=eq.insurance&select=*&limit=1' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Accept", "value": "application/json" } ] },
        "options": {}
      },
      "id": "abu-0004",
      "name": "Fetch Recommendation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 320],
      "credentials": { "httpCustomAuth": { "name": "Supabase Crystallux Custom" } }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.item.json;\nconst rec = (Array.isArray(rows) ? rows[0] : rows) || null;\nif (!rec || !rec.id) return { json: { _not_found: true } };\nreturn { json: { recommendation: rec } };",
        "mode": "runOnceForEachItem"
      },
      "id": "abu-0005",
      "name": "Carry Recommendation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 320]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict", "version": 2 },
          "conditions": [ { "id": "c1", "leftValue": "={{ $json._not_found }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } } ],
          "combinator": "and"
        }
      },
      "id": "abu-0006",
      "name": "IF Not Found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1360, 320]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/suitability_assessments?id=eq.' + encodeURIComponent($json.recommendation.suitability_assessment_id) + '&vertical_id=eq.insurance&select=*&limit=1' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Accept", "value": "application/json" } ] },
        "options": {}
      },
      "id": "abu-0007",
      "name": "Fetch Suitability",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1620, 200],
      "credentials": { "httpCustomAuth": { "name": "Supabase Crystallux Custom" } }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/kyc_verifications?client_id=eq.' + encodeURIComponent($('Carry Recommendation').item.json.recommendation.suitability_assessment_id ? '00000000-0000-0000-0000-000000000000' : '00000000-0000-0000-0000-000000000000') + '&vertical_id=eq.insurance&status=eq.verified&order=verified_at.desc&limit=1&select=*' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Accept", "value": "application/json" } ] },
        "options": {},
        "_note": "client_id resolved from suitability assessment in next step; this is a placeholder query to satisfy parallel-branch shape. Actual KYC lookup happens in Aggregate node which uses the suitability's client_id. Phase 5b cleans this up by serializing the lookups."
      },
      "id": "abu-0008",
      "name": "Fetch KYC Placeholder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1620, 320],
      "credentials": { "httpCustomAuth": { "name": "Supabase Crystallux Custom" } },
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": { "mode": "append", "numberInputs": 2 },
      "id": "abu-0009",
      "name": "Merge Branches",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1860, 260]
    },
    {
      "parameters": {
        "jsCode": "const allOf = function (name) {\n  try {\n    const items = $(name).all().map(function (i) { return i.json; });\n    if (items.length === 1 && Array.isArray(items[0])) return items[0];\n    return items;\n  } catch (e) { return []; }\n};\nconst suitRows = allOf('Fetch Suitability');\nconst suit = suitRows[0] || null;\nconst rec = $('Carry Recommendation').item.json.recommendation;\nif (!suit) return { json: { _no_suitability: true } };\nreturn { json: {\n  recommendation: rec,\n  suitability: suit,\n  client_id: suit.client_id,\n  advisor_id: suit.advisor_id\n} };",
        "mode": "runOnceForAllItems"
      },
      "id": "abu-0010",
      "name": "Carry Suit + Rec",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2100, 260]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/kyc_verifications?client_id=eq.' + encodeURIComponent($json.client_id) + '&vertical_id=eq.insurance&status=eq.verified&order=verified_at.desc&limit=1&select=*' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Accept", "value": "application/json" } ] },
        "options": {}
      },
      "id": "abu-0011",
      "name": "Fetch Verified KYC",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2340, 200],
      "credentials": { "httpCustomAuth": { "name": "Supabase Crystallux Custom" } }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/compliance_disclosures?client_id=eq.' + encodeURIComponent($('Carry Suit + Rec').item.json.client_id) + '&vertical_id=eq.insurance&select=disclosure_type,acknowledged_at,acknowledgment_method&order=created_at.desc&limit=20' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Accept", "value": "application/json" } ] },
        "options": {}
      },
      "id": "abu-0012",
      "name": "Fetch Disclosures",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2340, 320],
      "credentials": { "httpCustomAuth": { "name": "Supabase Crystallux Custom" } }
    },
    {
      "parameters": { "mode": "append", "numberInputs": 2 },
      "id": "abu-0013",
      "name": "Merge KYC + Disc",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [2580, 260]
    },
    {
      "parameters": {
        "jsCode": "const allOf = function (name) {\n  try {\n    const items = $(name).all().map(function (i) { return i.json; });\n    if (items.length === 1 && Array.isArray(items[0])) return items[0];\n    return items;\n  } catch (e) { return []; }\n};\nconst kycRows = allOf('Fetch Verified KYC');\nconst discRows = allOf('Fetch Disclosures');\nconst kyc = kycRows[0] || null;\nconst disclosures = discRows || [];\nconst carry = $('Carry Suit + Rec').item.json;\nconst suit = carry.suitability;\nconst rec = carry.recommendation;\n\nconst systemPrompt = [\n  'You are the Crystallux AI Application Builder for the INSURANCE vertical (vertical_id=insurance).',\n  'Auto-complete a carrier policy application from aggregated client data.',\n  '',\n  'Output strictly JSON. Schema:',\n  '{',\n  '  \"application_data\": { ... },                       // completed fields',\n  '  \"fields_requiring_human_input\": [ { \"field\": \"<name>\", \"reason\": \"<why advisor must input\" } ],',\n  '  \"reasoning\": \"<2-4 sentences\"',\n  '}',\n  '',\n  'For ' + rec.product_type + ' / ' + rec.carrier_name + ':',\n  '- applicant_legal_name (from kyc identity_data)',\n  '- date_of_birth (from kyc)',\n  '- address (from kyc)',\n  '- coverage_amount_cents (from recommendation)',\n  '- term_years (from recommendation)',\n  '- premium_monthly_cents (from recommendation)',\n  '- beneficiaries — REQUIRES HUMAN INPUT (advisor must capture)',\n  '- medical_questionnaire — REQUIRES HUMAN INPUT (advisor must walk client through)',\n  '- existing_coverage — from suitability.client_situation if captured',\n  '- payment_method — REQUIRES HUMAN INPUT',\n  '',\n  'Rules:',\n  '- Mark a field requires_human_input if the answer is missing OR sensitive (medical, financial details).',\n  '- Never fabricate data. Empty/unknown stays in fields_requiring_human_input.',\n  '- For non-life products (auto/home/commercial), adapt fields appropriately (vehicle VIN, property address, business revenue, etc.).'\n].join('\\n');\n\nconst userPayload = JSON.stringify({\n  vertical_id: 'insurance',\n  carrier_name: rec.carrier_name,\n  product_name: rec.product_name,\n  product_type: rec.product_type,\n  recommendation: { coverage_amount_cents: rec.coverage_amount, premium_monthly_cents: rec.premium_monthly, premium_annual_cents: rec.premium_annual, term_years: rec.term_years },\n  kyc_identity_data: kyc && kyc.identity_data ? { has: true, name: kyc.identity_data.first_name + ' ' + kyc.identity_data.last_name, dob: kyc.identity_data.dob, has_address: !!kyc.identity_data.address } : { has: false },\n  suitability_situation_keys: Object.keys(suit.client_situation || {}),\n  disclosures_signed: (disclosures || []).filter(function (d) { return !!d.acknowledged_at; }).map(function (d) { return d.disclosure_type; })\n});\n\nreturn { json: {\n  carry: { recommendation: rec, suitability: suit, kyc: kyc, disclosures: disclosures, client_id: carry.client_id, advisor_id: carry.advisor_id },\n  claude_payload: {\n    model: 'claude-sonnet-4-5-20250929',\n    max_tokens: 1500,\n    temperature: 0.1,\n    system: systemPrompt,\n    messages: [ { role: 'user', content: userPayload } ]\n  }\n} };",
        "mode": "runOnceForAllItems"
      },
      "id": "abu-0014",
      "name": "Build Claude Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2820, 260]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.claude_payload) }}",
        "options": { "timeout": 60000 }
      },
      "id": "abu-0015",
      "name": "Claude Build App",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3060, 260],
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const carry = $('Build Claude Prompt').item.json.carry;\nconst resp = $input.item.json || {};\nlet text = '';\ntry { text = (resp.content && resp.content[0] && resp.content[0].text) || ''; } catch (e) {}\nlet parsed = null;\ntry { parsed = JSON.parse(String(text).replace(/```json|```/g, '').trim()); } catch (e) {}\nif (!parsed) parsed = { application_data: {}, fields_requiring_human_input: [{ field: 'all_fields', reason: 'AI build failed; advisor to complete manually.' }], reasoning: 'parse_failed' };\n\nconst rec = carry.recommendation;\nconst suit = carry.suitability;\nconst tokens = (resp.usage && (resp.usage.input_tokens + resp.usage.output_tokens)) || 0;\n\nreturn { json: {\n  insert_row: {\n    vertical_id: 'insurance',\n    client_id: carry.client_id,\n    advisor_id: carry.advisor_id,\n    suitability_assessment_id: suit.id,\n    policy_recommendation_id: rec.id,\n    carrier_name: rec.carrier_name,\n    application_data: parsed.application_data || {},\n    fields_requiring_human_input: parsed.fields_requiring_human_input || [],\n    advisor_review_status: 'pending',\n    submission_status: 'draft',\n    locked: false\n  },\n  client_id: carry.client_id,\n  advisor_id: carry.advisor_id,\n  tokens: tokens\n} };",
        "mode": "runOnceForEachItem"
      },
      "id": "abu-0016",
      "name": "Build Insert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3300, 260]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/policy_applications",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.insert_row) }}",
        "options": {}
      },
      "id": "abu-0017",
      "name": "Insert Application",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3540, 260],
      "credentials": { "httpCustomAuth": { "name": "Supabase Crystallux Custom" } },
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/regulatory_audit_log",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => { const ins = $input.item.json; const row = Array.isArray(ins) ? ins[0] : ins; return JSON.stringify({ vertical_id: 'insurance', event_type: 'application_built', client_id: $('Build Insert').item.json.client_id, advisor_id: $('Build Insert').item.json.advisor_id, policy_application_id: row && row.id, performed_by_user_id: null, performed_by_role: 'agent', event_data: { application_id: row && row.id, fields_requiring_human_input_count: ($('Build Insert').item.json.insert_row.fields_requiring_human_input || []).length }, occurred_at: new Date().toISOString() }); })() }}",
        "options": {}
      },
      "id": "abu-0018",
      "name": "Audit Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3780, 260],
      "credentials": { "httpCustomAuth": { "name": "Supabase Crystallux Custom" } },
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ (() => { const ins = $('Insert Application').item.json; const row = Array.isArray(ins) ? ins[0] : ins; return JSON.stringify({ ok: true, vertical_id: 'insurance', application_id: row && row.id, fields_requiring_human_input: $('Build Insert').item.json.insert_row.fields_requiring_human_input }); })() }}",
        "options": { "responseCode": 200 }
      },
      "id": "abu-0019",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [4020, 260]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: false, error: $json.error || 'unauthorized' }) }}",
        "options": { "responseCode": "={{ $json._unauthorized ? 401 : ($json._not_found ? 404 : ($json._no_suitability ? 404 : 400)) }}" }
      },
      "id": "abu-0020",
      "name": "Respond 4xx",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [880, 540]
    }
  ],
  "connections": {
    "Webhook":              { "main": [[ { "node": "Validate", "type": "main", "index": 0 } ]] },
    "Validate":             { "main": [[ { "node": "IF Authorized", "type": "main", "index": 0 } ]] },
    "IF Authorized":        { "main": [[ { "node": "Fetch Recommendation", "type": "main", "index": 0 } ], [ { "node": "Respond 4xx", "type": "main", "index": 0 } ]] },
    "Fetch Recommendation": { "main": [[ { "node": "Carry Recommendation", "type": "main", "index": 0 } ]] },
    "Carry Recommendation": { "main": [[ { "node": "IF Not Found", "type": "main", "index": 0 } ]] },
    "IF Not Found":         { "main": [[ { "node": "Respond 4xx", "type": "main", "index": 0 } ], [ { "node": "Fetch Suitability", "type": "main", "index": 0 }, { "node": "Fetch KYC Placeholder", "type": "main", "index": 0 } ]] },
    "Fetch Suitability":    { "main": [[ { "node": "Merge Branches", "type": "main", "index": 0 } ]] },
    "Fetch KYC Placeholder":{ "main": [[ { "node": "Merge Branches", "type": "main", "index": 1 } ]] },
    "Merge Branches":       { "main": [[ { "node": "Carry Suit + Rec", "type": "main", "index": 0 } ]] },
    "Carry Suit + Rec":     { "main": [[ { "node": "Fetch Verified KYC", "type": "main", "index": 0 }, { "node": "Fetch Disclosures", "type": "main", "index": 0 } ]] },
    "Fetch Verified KYC":   { "main": [[ { "node": "Merge KYC + Disc", "type": "main", "index": 0 } ]] },
    "Fetch Disclosures":    { "main": [[ { "node": "Merge KYC + Disc", "type": "main", "index": 1 } ]] },
    "Merge KYC + Disc":     { "main": [[ { "node": "Build Claude Prompt", "type": "main", "index": 0 } ]] },
    "Build Claude Prompt":  { "main": [[ { "node": "Claude Build App", "type": "main", "index": 0 } ]] },
    "Claude Build App":     { "main": [[ { "node": "Build Insert", "type": "main", "index": 0 } ]] },
    "Build Insert":         { "main": [[ { "node": "Insert Application", "type": "main", "index": 0 } ]] },
    "Insert Application":   { "main": [[ { "node": "Audit Log", "type": "main", "index": 0 } ]] },
    "Audit Log":            { "main": [[ { "node": "Respond OK", "type": "main", "index": 0 } ]] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false
}
