workflows/api/insurance-mga/clx-mga-insurance-commission-dispute-v1.json
{
  "name": "CLX - MGA Insurance Commission Dispute v1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mga/insurance/commission-dispute",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "cd-0001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        200,
        400
      ],
      "webhookId": "clx-mga-insurance-commission-dispute-001",
      "notes": "DEACTIVATED. advisor session. Logs an advisor's commission dispute, marks the affected commission_ledger row payout_status='held', notifies mga_principal via email + audit log. Phase 5b adds dedicated dispute_resolutions table; current MVP captures into review_tasks linked to a synthetic 'commission_dispute' policy_review."
    },
    {
      "parameters": {
        "jsCode": "const headers = $input.item.json.headers || {};\nconst body = $input.item.json.body || {};\nconst auth = headers['authorization'] || headers['Authorization'] || '';\nconst token = auth.toLowerCase().startsWith('bearer ') ? auth.slice(7).trim() : '';\nif (!token) return { json: { _unauthorized: true, status: 401, error: 'Missing session token' } };\nif (!body.commission_ledger_id || !body.dispute_reason) return { json: { _empty: true, status: 400, error: 'commission_ledger_id and dispute_reason required' } };\nreturn { json: { token: token, commission_ledger_id: body.commission_ledger_id, dispute_reason: String(body.dispute_reason).slice(0, 1000) } };",
        "mode": "runOnceForEachItem"
      },
      "id": "cd-0002",
      "name": "Extract Inputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/rpc/validate_session",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"p_token\": \"{{ $json.token }}\" }",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "cd-0003",
      "name": "Validate Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        400
      ],
      "credentials": {
        "httpCustomAuth": {
          "name": "Supabase Crystallux Custom"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.item.json;\nconst row = Array.isArray(rows) ? (rows[0] || null) : (rows && (rows.user_id || rows.id) ? rows : null);\nif (!row) return { json: { _unauthorized: true, status: 401, error: 'Invalid session' } };\nconst allowed = ['advisor','sub_agent','mga_principal','admin'];\nif (allowed.indexOf(row.user_role) < 0) return { json: { _unauthorized: true, status: 403, error: 'Role not permitted' } };\nconst i = $('Extract Inputs').item.json;\nreturn { json: { _ok: true, advisor_id: row.id || row.user_id, commission_ledger_id: i.commission_ledger_id, dispute_reason: i.dispute_reason } };",
        "mode": "runOnceForEachItem"
      },
      "id": "cd-0004",
      "name": "Check Role",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json._ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "cd-0005",
      "name": "IF OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        400
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/commission_ledger?id=eq.' + encodeURIComponent($json.commission_ledger_id) + '&vertical_id=eq.insurance&select=*&limit=1' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "cd-0006",
      "name": "Fetch Ledger",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1380,
        320
      ],
      "credentials": {
        "httpCustomAuth": {
          "name": "Supabase Crystallux Custom"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Check Role').item.json;\nconst rows = $input.item.json;\nconst lg = (Array.isArray(rows) ? rows[0] : rows) || null;\nif (!lg || !lg.id) return { json: { _not_found: true, status: 404, error: 'commission_ledger not found' } };\n// Authorization: only the advisor on the ledger OR the principal can dispute.\nif (lg.advisor_id !== ctx.advisor_id && lg.mga_principal_id !== ctx.advisor_id) return { json: { _unauthorized: true, status: 403, error: 'You do not own this commission ledger entry' } };\nreturn { json: { _go: true, ledger: lg, advisor_id: ctx.advisor_id, dispute_reason: ctx.dispute_reason, mga_principal_id: lg.mga_principal_id } };",
        "mode": "runOnceForEachItem"
      },
      "id": "cd-0007",
      "name": "Authorize Dispute",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1620,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json._go }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "cd-0008",
      "name": "IF Go",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1860,
        320
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/commission_ledger?id=eq.' + encodeURIComponent($json.ledger.id) + '&vertical_id=eq.insurance' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ payout_status: 'held' }) }}",
        "options": {}
      },
      "id": "cd-0009",
      "name": "Hold Payout",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2100,
        240
      ],
      "credentials": {
        "httpCustomAuth": {
          "name": "Supabase Crystallux Custom"
        }
      },
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/auth_users?id=eq.' + encodeURIComponent($('Authorize Dispute').item.json.mga_principal_id) + '&select=email&limit=1' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "cd-0010",
      "name": "Find Principal Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2340,
        240
      ],
      "credentials": {
        "httpCustomAuth": {
          "name": "Supabase Crystallux Custom"
        }
      },
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.N8N_INTERNAL_BASE || 'http://localhost:5678') + '/webhook/email/send' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => { const rows = $input.item.json; const p = (Array.isArray(rows) ? rows[0] : rows) || {}; const ctx = $('Authorize Dispute').item.json; return JSON.stringify({ internal_secret: $env.INTERNAL_EMAIL_SECRET, template: 'lead-meeting-booked', to: p.email || 'support@crystallux.org', vars: { first_name: 'MGA Principal', message: 'Commission dispute filed by advisor ' + ctx.advisor_id + ' for ledger ' + ctx.ledger.id + ' (advisor cents=' + ctx.ledger.advisor_commission + '). Reason: ' + ctx.dispute_reason + '. Payout has been HELD pending review.', landing_url: 'https://app.crystallux.org/insurance-mga/principal/compliance' } }); })() }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "cd-0011",
      "name": "Notify Principal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2580,
        240
      ],
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/regulatory_audit_log",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ vertical_id: 'insurance', event_type: 'commission_disputed', advisor_id: $('Authorize Dispute').item.json.advisor_id, performed_by_user_id: $('Authorize Dispute').item.json.advisor_id, performed_by_role: 'advisor', event_data: { commission_ledger_id: $('Authorize Dispute').item.json.ledger.id, advisor_cents: $('Authorize Dispute').item.json.ledger.advisor_commission, dispute_reason: $('Authorize Dispute').item.json.dispute_reason }, occurred_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "cd-0012",
      "name": "Audit Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2820,
        240
      ],
      "credentials": {
        "httpCustomAuth": {
          "name": "Supabase Crystallux Custom"
        }
      },
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, vertical_id: 'insurance', commission_ledger_id: $('Authorize Dispute').item.json.ledger.id, payout_status: 'held' }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "cd-0013",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3060,
        240
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: false, error: $json.error || 'unauthorized' }) }}",
        "options": {
          "responseCode": "={{ $json.status || 400 }}"
        }
      },
      "id": "cd-0014",
      "name": "Respond 4xx",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1380,
        540
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Inputs": {
      "main": [
        [
          {
            "node": "Validate Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Session": {
      "main": [
        [
          {
            "node": "Check Role",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Role": {
      "main": [
        [
          {
            "node": "IF OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF OK": {
      "main": [
        [
          {
            "node": "Fetch Ledger",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 4xx",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Ledger": {
      "main": [
        [
          {
            "node": "Authorize Dispute",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Authorize Dispute": {
      "main": [
        [
          {
            "node": "IF Go",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Go": {
      "main": [
        [
          {
            "node": "Hold Payout",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 4xx",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hold Payout": {
      "main": [
        [
          {
            "node": "Find Principal Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Principal Email": {
      "main": [
        [
          {
            "node": "Notify Principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Principal": {
      "main": [
        [
          {
            "node": "Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audit Log": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
