workflows/api/goals/clx-goal-template-create-v1.json
{
  "name": "CLX - Goal Template Create v1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/goals/template-create",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "gtc-0001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [200, 300],
      "webhookId": "clx-goal-template-create-001"
    },
    {
      "parameters": {
        "jsCode": "const headers = $input.item.json.headers || {};\nconst auth = headers['authorization'] || headers['Authorization'] || '';\nconst token = auth.toLowerCase().startsWith('bearer ') ? auth.slice(7).trim() : '';\nif (!token) return { json: { ok: false, status: 401, error: 'Missing session token' } };\nconst body = $input.item.json.body || {};\nconst required = ['client_id','template_name','metric','period','target_value'];\nfor (const k of required) { if (body[k] === undefined || body[k] === null) return { json: { ok: false, status: 400, error: 'Missing ' + k } }; }\nreturn { json: { token, body } };",
        "mode": "runOnceForEachItem"
      },
      "id": "gtc-0002",
      "name": "Extract Inputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "conditions": { "options": { "caseSensitive": true, "typeValidation": "strict", "version": 2 }, "conditions": [ { "id": "c1", "leftValue": "={{ $json.ok }}", "rightValue": false, "operator": { "type": "boolean", "operation": "equals" } } ], "combinator": "and" }
      },
      "id": "gtc-0003",
      "name": "IF Bad Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/rpc/validate_session",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Content-Type", "value": "application/json" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"p_token\": \"{{ $json.token }}\" }",
        "options": {}
      },
      "id": "gtc-0004",
      "name": "Validate Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 400],
      "credentials": { "httpCustomAuth": { "name": "Supabase Crystallux Custom" } }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.item.json;\nconst row = Array.isArray(rows) ? (rows[0] || null) : (rows && (rows.id || rows.user_id) ? rows : null);\nif (!row) return { json: { ok: false, status: 401, error: 'Invalid or expired session' } };\nconst allowed = ['admin','mga_principal','supervisor'];\nif (allowed.indexOf(row.user_role) === -1) return { json: { ok: false, status: 403, error: 'Manager role required' } };\nconst body = $('Extract Inputs').first().json.body;\nconst payload = {\n  client_id:          body.client_id,\n  template_name:      body.template_name,\n  role:               body.role || null,\n  metric:             body.metric,\n  period:             body.period,\n  target_value:       body.target_value,\n  target_value_cents: body.target_value_cents || null,\n  description:        body.description || null,\n  active:             true\n};\nreturn { json: { ok: true, payload } };",
        "mode": "runOnceForEachItem"
      },
      "id": "gtc-0005",
      "name": "Build Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 400]
    },
    {
      "parameters": {
        "conditions": { "options": { "caseSensitive": true, "typeValidation": "strict", "version": 2 }, "conditions": [ { "id": "c1", "leftValue": "={{ $json.ok }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } } ], "combinator": "and" }
      },
      "id": "gtc-0006",
      "name": "IF Auth OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1320, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/goal_templates?on_conflict=client_id,template_name",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "Content-Type", "value": "application/json" },
          { "name": "Prefer", "value": "resolution=merge-duplicates,return=representation" }
        ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.payload) }}",
        "options": {}
      },
      "id": "gtc-0007",
      "name": "Upsert Template",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 320],
      "credentials": { "httpCustomAuth": { "name": "Supabase Crystallux Custom" } }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.item.json;\nconst row  = Array.isArray(rows) ? (rows[0] || null) : rows;\nreturn { json: { ok: true, template: row } };",
        "mode": "runOnceForEachItem"
      },
      "id": "gtc-0008",
      "name": "Shape Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 320]
    },
    { "parameters": { "respondWith": "json", "responseBody": "={{ JSON.stringify($json) }}", "options": { "responseCode": 200 } }, "id": "gtc-0009", "name": "Respond OK", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [2000, 320] },
    { "parameters": { "respondWith": "json", "responseBody": "={{ JSON.stringify({ ok: false, error: $json.error || 'Unauthorized' }) }}", "options": { "responseCode": "={{ $json.status || 401 }}" } }, "id": "gtc-0010", "name": "Respond 4xx", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [880, 200] }
  ],
  "connections": {
    "Webhook":         { "main": [[ { "node": "Extract Inputs",   "type": "main", "index": 0 } ]] },
    "Extract Inputs":  { "main": [[ { "node": "IF Bad Input",     "type": "main", "index": 0 } ]] },
    "IF Bad Input":    { "main": [ [ { "node": "Respond 4xx", "type": "main", "index": 0 } ], [ { "node": "Validate Session", "type": "main", "index": 0 } ] ] },
    "Validate Session":{ "main": [[ { "node": "Build Payload",    "type": "main", "index": 0 } ]] },
    "Build Payload":   { "main": [[ { "node": "IF Auth OK",       "type": "main", "index": 0 } ]] },
    "IF Auth OK":      { "main": [ [ { "node": "Upsert Template", "type": "main", "index": 0 } ], [ { "node": "Respond 4xx", "type": "main", "index": 0 } ] ] },
    "Upsert Template": { "main": [[ { "node": "Shape Response",   "type": "main", "index": 0 } ]] },
    "Shape Response":  { "main": [[ { "node": "Respond OK",       "type": "main", "index": 0 } ]] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false
}
