workflows/api/public/clx-public-quote-fetch-v1.json
{
  "id": "clxPublicQuoteFetchV1",
  "name": "CLX - Public Quote Fetch v1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "public/quote/fetch",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "pqf-0001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [200, 300],
      "webhookId": "clx-public-quote-fetch-001",
      "notes": "Public-facing. NO session token required — the quote_id UUID itself is the authorization (unguessable; matches the link emailed to the customer). Sets viewed_at on first fetch."
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body || {};\nconst qid  = String(body.quote_id || '').trim();\n// UUID format check (v4-ish): 8-4-4-4-12 hex with dashes\nif (!/^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i.test(qid)) {\n  return { json: { ok: false, status: 400, error: 'Invalid quote_id format' } };\n}\nreturn { json: { quote_id: qid } };",
        "mode": "runOnceForEachItem"
      },
      "id": "pqf-0002",
      "name": "Validate ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict", "version": 2 },
          "conditions": [{
            "id": "c1", "leftValue": "={{ $json.ok === false }}", "rightValue": true,
            "operator": { "type": "boolean", "operation": "notEquals", "singleValue": true }
          }],
          "combinator": "and"
        }
      },
      "id": "pqf-0003",
      "name": "IF Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/quote_completed?id=eq.' + $json.quote_id + '&select=id,industry_slug,email,full_name,company,phone,rules_applied,addons_selected,base_tier,base_monthly_cents,total_monthly_cents,total_one_time_cents,total_first_year_cents,status,expires_at,sent_at,viewed_at,accepted_at,declined_at,decline_reason,created_at,quote_templates(industry_name,emoji,description)&limit=1' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Accept", "value": "application/json" }] },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "pqf-0004",
      "name": "Fetch Quote",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 220],
      "credentials": { "httpCustomAuth": { "name": "Supabase Crystallux Custom" } }
    },
    {
      "parameters": {
        "jsCode": "const allOf = function (name) {\n  try {\n    const items = $(name).all().map(function (i) { return i.json; });\n    if (items.length === 1 && Array.isArray(items[0])) return items[0];\n    if (items.length === 1 && items[0] && typeof items[0] === 'object' && !Array.isArray(items[0]) && items[0].id) return [items[0]];\n    return items.filter(function (x) { return x && x.id; });\n  } catch (e) { return []; }\n};\nconst rows = allOf('Fetch Quote');\nif (rows.length === 0) {\n  return { json: { ok: false, status: 404, error: 'Quote not found' } };\n}\nconst q = rows[0];\nconst now = new Date().toISOString();\n// If still 'open' or 'sent', mark as 'viewed' on this fetch. Idempotent via PATCH only on those statuses.\nconst shouldMarkViewed = q.status === 'open' || q.status === 'sent';\nreturn { json: {\n  quote: q,\n  should_mark_viewed: shouldMarkViewed,\n  now: now\n} };",
        "mode": "runOnceForAllItems"
      },
      "id": "pqf-0005",
      "name": "Inspect Quote",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 220]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict", "version": 2 },
          "conditions": [{
            "id": "c1", "leftValue": "={{ $json.should_mark_viewed }}", "rightValue": true,
            "operator": { "type": "boolean", "operation": "equals" }
          }],
          "combinator": "and"
        }
      },
      "id": "pqf-0006",
      "name": "IF Should Mark Viewed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1360, 220]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/quote_completed?id=eq.' + $json.quote.id + '&status=in.(open,sent)' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer",       "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'viewed', viewed_at: $json.now }) }}",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "pqf-0007",
      "name": "Mark Viewed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1600, 140],
      "credentials": { "httpCustomAuth": { "name": "Supabase Crystallux Custom" } }
    },
    {
      "parameters": {
        "jsCode": "// Final shape — strip the email + phone if you want to be extra-careful\n// about exposing PII on a public endpoint. For V1 we return them since\n// the customer already knows their own email (it was sent to them).\nconst q = $('Inspect Quote').first().json.quote;\nconst tpl = q.quote_templates || {};\nconst now = new Date().toISOString();\n// If we just marked viewed, reflect it in the response.\nconst markedViewed = $('Inspect Quote').first().json.should_mark_viewed === true;\nif (markedViewed && q.status === 'open' || q.status === 'sent') {\n  q.status = 'viewed';\n  q.viewed_at = now;\n}\nconst expired = q.expires_at && new Date(q.expires_at).getTime() < Date.now();\nreturn { json: {\n  ok: true,\n  quote: {\n    id:                     q.id,\n    industry_name:          tpl.industry_name || q.industry_slug,\n    industry_emoji:         tpl.emoji || null,\n    industry_description:   tpl.description || null,\n    email:                  q.email,\n    full_name:              q.full_name,\n    company:                q.company,\n    rules_applied:          q.rules_applied || [],\n    addons_selected:        q.addons_selected || [],\n    base_tier:              q.base_tier,\n    base_monthly_cents:     q.base_monthly_cents,\n    total_monthly_cents:    q.total_monthly_cents,\n    total_one_time_cents:   q.total_one_time_cents,\n    total_first_year_cents: q.total_first_year_cents,\n    status:                 expired ? 'expired' : q.status,\n    expires_at:             q.expires_at,\n    expired:                expired,\n    accepted_at:            q.accepted_at,\n    declined_at:            q.declined_at,\n    created_at:             q.created_at\n  }\n} };",
        "mode": "runOnceForAllItems"
      },
      "id": "pqf-0008",
      "name": "Shape Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1840, 220]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin",  "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "POST, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type" }
            ]
          }
        }
      },
      "id": "pqf-0009",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2080, 220]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: false, error: $json.error || 'Bad request' }) }}",
        "options": {
          "responseCode": "={{ $json.status || 400 }}",
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin",  "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "POST, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type" }
            ]
          }
        }
      },
      "id": "pqf-0010",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [880, 460]
    }
  ],
  "connections": {
    "Webhook":      { "main": [[{ "node": "Validate ID", "type": "main", "index": 0 }]] },
    "Validate ID":  { "main": [[{ "node": "IF Valid",   "type": "main", "index": 0 }]] },
    "IF Valid": {
      "main": [
        [{ "node": "Fetch Quote",   "type": "main", "index": 0 }],
        [{ "node": "Respond Error", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Quote":   { "main": [[{ "node": "Inspect Quote",          "type": "main", "index": 0 }]] },
    "Inspect Quote": { "main": [[{ "node": "IF Should Mark Viewed",  "type": "main", "index": 0 }]] },
    "IF Should Mark Viewed": {
      "main": [
        [{ "node": "Mark Viewed",   "type": "main", "index": 0 }],
        [{ "node": "Shape Response","type": "main", "index": 0 }]
      ]
    },
    "Mark Viewed":   { "main": [[{ "node": "Shape Response", "type": "main", "index": 0 }]] },
    "Shape Response":{ "main": [[{ "node": "Respond OK",     "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false
}
