workflows/api/public/clx-public-client-signup-v1.json
{
  "id": "wfPublicClientSignup",
  "name": "CLX - Public Client Signup v1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "public/client-signup",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://crystallux.org,https://insurance.crystallux.org"
        }
      },
      "id": "pcs-0001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [200, 400],
      "webhookId": "clx-public-client-signup-001"
    },
    {
      "parameters": {
        "jsCode": "// Validate + build a 'saas signup lead'. We DON'T create the auth_users row\n// directly — Mary qualifies on a call first, then provisions. This avoids\n// fake/spam signups creating real platform accounts. The lead row carries\n// the requested product(s) so Mary knows what to activate.\nconst body = $input.item.json.body || {};\nconst email = String(body.email || '').trim().toLowerCase();\nconst emailRe = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nif (!email || !emailRe.test(email)) {\n  return { json: { _empty: true, status: 400, error: 'Valid email required' } };\n}\nconst fullName = String(body.full_name || body.name || '').trim().slice(0, 200);\nif (!fullName) return { json: { _empty: true, status: 400, error: 'Full name required' } };\nif (body.consent !== true && body.consent !== 'true' && body.consent !== 'on') {\n  return { json: { _empty: true, status: 400, error: 'CASL consent required' } };\n}\n\n// product = which Crystallux product they want (from the marketing page CTA).\n// Allowed: sales_engine, sentinel, ava, luxi, maxi, ciro, mga, smart_quote.\nconst allowedProducts = ['sales_engine','sentinel','ava','luxi','maxi','ciro','mga','smart_quote','unspecified'];\nconst rawProduct = String(body.product || 'unspecified').toLowerCase().replace(/-/g, '_');\nconst product = allowedProducts.indexOf(rawProduct) !== -1 ? rawProduct : 'unspecified';\nconst tier = String(body.tier || '').toLowerCase().slice(0, 40);\n\n// industry tells us which vertical the buyer operates in — drives the\n// archetype the engine uses for outreach personalization later.\nconst industry = String(body.industry || '').trim().slice(0, 80);\n\nconst leadRow = {\n  full_name:           fullName,\n  email:               email,\n  phone:               String(body.phone || '').trim().slice(0, 40),\n  company:             String(body.company || body.company_name || '').trim().slice(0, 200) || ('SaaS signup ' + email + ' ' + Date.now()).slice(0, 200),\n  job_title:           String(body.job_title || body.role || '').trim().slice(0, 120),\n  industry:            industry || 'saas',\n  city:                String(body.city || '').trim().slice(0, 120),\n  source:              'saas_client_signup',\n  lead_status:         'New Lead',\n  product_type:        'saas',\n  lead_type:           'saas_signup',\n  do_not_contact:      false,\n  unsubscribed:        false,\n  total_emails_sent:   0,\n  lead_score:          80,\n  notes:               'SaaS client signup for product=' + product + ' tier=' + (tier || '(unspecified)') + ' on ' + new Date().toISOString().slice(0,10) + '. Industry: ' + (industry || 'unspecified') + '. Message: ' + (String(body.message || '').slice(0, 1000) || '(none)'),\n  updated_at:          new Date().toISOString()\n};\n\nconst notifySubject = '[Crystallux] New SaaS signup: ' + fullName + ' wants ' + product + (tier ? ' (' + tier + ')' : '');\nconst notifyBody = 'New SaaS client signup intent:\\n\\n' +\n  'Name: ' + fullName + '\\n' +\n  'Email: ' + email + '\\n' +\n  'Company: ' + (leadRow.company) + '\\n' +\n  'Phone: ' + (leadRow.phone || '(none)') + '\\n' +\n  'Industry: ' + (industry || '(unspecified)') + '\\n' +\n  'Product: ' + product + '\\n' +\n  'Tier: ' + (tier || '(none)') + '\\n' +\n  'Message: ' + (String(body.message || '').slice(0, 1000) || '(none)') + '\\n\\n' +\n  'Action: schedule onboarding call within 24h, then provision the auth_users row + product flags in Supabase.';\n\nreturn { json: { leadRow, email, fullName, product, tier, notifySubject, notifyBody } };",
        "mode": "runOnceForEachItem"
      },
      "id": "pcs-0002",
      "name": "Validate + Build",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict", "version": 2 },
          "conditions": [
            { "id": "pcs-c1", "leftValue": "={{ $json._empty }}", "rightValue": true, "operator": { "type": "boolean", "operation": "notEquals" } }
          ],
          "combinator": "and"
        }
      },
      "id": "pcs-0003",
      "name": "IF Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [640, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/leads",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation,resolution=merge-duplicates" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.leadRow) }}",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "pcs-0004",
      "name": "Insert Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 320],
      "credentials": {
        "httpCustomAuth": {
          "name": "Supabase Crystallux Custom"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/rpc/clx_provision_trial_signup",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Accept", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ p_email: $('Validate + Build').item.json.email, p_product: $('Validate + Build').item.json.product, p_company: ($('Validate + Build').item.json.leadRow && $('Validate + Build').item.json.leadRow.company) || $('Validate + Build').item.json.fullName || '' }) }}",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "pcs-0004b",
      "name": "Provision Auth User",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 320],
      "credentials": {
        "httpCustomAuth": {
          "name": "Supabase Crystallux Custom"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build the Postmark notification to Mary + the welcome auto-reply to the\n// signer. Postmark will queue these if it's not yet approved — that's fine,\n// they'll dispatch automatically once approval lands.\nconst allOf = function (name) {\n  try {\n    const items = $(name).all().map(function (i) { return i.json; });\n    if (items.length === 1 && Array.isArray(items[0])) return items[0];\n    if (items.length === 1 && items[0] && typeof items[0] === 'object' && !Array.isArray(items[0]) && items[0].id) return [items[0]];\n    return items.filter(function (x) { return x && x.id; });\n  } catch (e) { return []; }\n};\nconst leadRows = allOf('Insert Lead');\nconst leadId = leadRows.length > 0 ? leadRows[0].id : null;\n// Even if leadId is null (duplicate email — they're already in leads), we\n// STILL send the welcome email + notify Mary. From the signer's POV the action\n// succeeded; from Mary's POV she gets an inquiry to follow up on.\n\nconst v = $('Validate + Build').item.json;\n\n// Welcome auto-reply HTML — sent to the signer\nconst welcomeHtml = '<div style=\"font-family:Arial,Helvetica,sans-serif;font-size:14px;line-height:1.55;color:#333;max-width:640px\">' +\n  '<h1 style=\"font-size:22px;font-weight:700;color:#0f172a;margin:0 0 14px;line-height:1.3;letter-spacing:-0.01em\">Welcome aboard, ' + v.fullName.split(\" \")[0] + '.</h1>' +\n  '<p style=\"color:#475569;font-size:15px;line-height:1.6;margin:0 0 24px\">Thanks for signing up for <strong style=\"color:#0f172a\">' + v.product.replace(/_/g, ' ') + (v.tier ? ' on the ' + v.tier + ' tier' : '') + '</strong>. Your trial dashboard is ready right now — set your password below and look around.</p>' +\n  '<div style=\"margin:0 0 28px\"><a href=\"https://crystallux.org/forgot-password.html\" style=\"display:inline-block;background:#7C3AED;color:#fff;font-weight:700;font-size:15px;padding:14px 30px;border-radius:10px;text-decoration:none\">Set your password &amp; log in &#8594;</a><p style=\"font-size:13px;color:#64748b;margin:10px 0 0\">Use this email (' + v.email + ') on the set-password page, then sign in to your dashboard.</p></div>' +\n  '<p style=\"font-size:12px;font-weight:700;color:#64748b;letter-spacing:0.08em;text-transform:uppercase;margin:24px 0 14px\">What happens next</p>' +\n  '<ol style=\"padding-left:20px;margin:0 0 24px\">' +\n    '<li style=\"font-size:14px;color:#334155;line-height:1.6;margin-bottom:10px\"><strong style=\"color:#0f172a\">Within 24 hours.</strong> An onboarding specialist emails you a calendar link to book a 20-minute discovery call.</li>' +\n    '<li style=\"font-size:14px;color:#334155;line-height:1.6;margin-bottom:10px\"><strong style=\"color:#0f172a\">Discovery call (20 minutes).</strong> We confirm the right product and tier for your business, walk through your goals, and answer every question. No slides, no pressure.</li>' +\n    '<li style=\"font-size:14px;color:#334155;line-height:1.6;margin-bottom:10px\"><strong style=\"color:#0f172a\">Go live.</strong> On the call we switch your dashboard from trial to live and your first campaigns start running. No blank screens.</li>' +\n    '<li style=\"font-size:14px;color:#334155;line-height:1.6\"><strong style=\"color:#0f172a\">Week 1 onboarding.</strong> Personal support every step. You will not be left staring at a blank screen.</li>' +\n  '</ol>' +\n  '<p style=\"font-size:14px;color:#475569;line-height:1.6;margin:0 0 20px\">Need to reach us before then? Just reply to this email — we read every one.</p>' +\n  '<p style=\"font-size:14px;color:#0f172a;margin:28px 0 0;font-weight:600\">— The Crystallux Team</p>' +\n  '<hr style=\"border:none;border-top:1px solid #e5e7eb;margin:24px 0\">' +\n  '<p style=\"font-size:11px;color:#94a3b8\">You are receiving this because you signed up at crystallux.org. To unsubscribe, reply with \"unsubscribe\" and we will remove you immediately. Crystallux Inc., Guelph, Ontario, Canada.</p>' +\n  '</div>';\n\nreturn { json: {\n  ok: true,\n  lead_id: leadId,\n  product: v.product,\n  tier: v.tier,\n  fullName: v.fullName,\n  email: v.email,\n  notify_to_mary: {\n    From:    'info@crystallux.org',\n    To:      'info@crystallux.org',\n    Subject: v.notifySubject,\n    HtmlBody: '<pre style=\"font-family:monospace\">' + (v.notifyBody || '').replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;') + '</pre>' + (leadId ? '<p><a href=\"https://admin.crystallux.org/pages/leads.html?lead_id=' + leadId + '\">Open in admin -></a></p>' : ''),\n    TextBody: v.notifyBody,\n    MessageStream: 'outbound',\n    Tag: 'saas-client-signup',\n    Metadata: { lead_id: leadId || '', product: v.product, tier: v.tier }\n  },\n  welcome_to_signer: {\n    From:    'info@crystallux.org',\n    To:      v.email,\n    Subject: 'Your Crystallux trial is ready — set your password',\n    HtmlBody: welcomeHtml,\n    TextBody: 'Hi ' + v.fullName.split(\" \")[0] + ',\\n\\nYour trial dashboard for ' + v.product.replace(/_/g, ' ') + (v.tier ? ' (' + v.tier + ' tier)' : '') + ' is ready right now.\\n\\n1) Set your password: https://crystallux.org/forgot-password.html (use this email, ' + v.email + ').\\n2) Log in: https://crystallux.org/login.html and you land on your dashboard.\\n\\nWithin 24 hours an onboarding specialist will also reach out to book a 20-minute call and switch you from trial to live leads.\\n\\nNeed us before then? Reply to this email or write to info@crystallux.org.\\n\\nTalk soon,\\nThe Crystallux Team\\ninfo@crystallux.org',\n    MessageStream: 'outbound',\n    Tag: 'saas-client-welcome',\n    Metadata: { lead_id: leadId || '', product: v.product }\n  }\n} };",
        "mode": "runOnceForEachItem"
      },
      "id": "pcs-0005",
      "name": "Build Emails",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 320]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.postmarkapp.com/email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept",                 "value": "application/json" },
            { "name": "Content-Type",           "value": "application/json" },
            { "name": "X-Postmark-Server-Token","value": "={{ $env.POSTMARK_API_TOKEN }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.notify_to_mary) }}",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "pcs-0006",
      "name": "Notify Mary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 240]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.postmarkapp.com/email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept",                 "value": "application/json" },
            { "name": "Content-Type",           "value": "application/json" },
            { "name": "X-Postmark-Server-Token","value": "={{ $env.POSTMARK_API_TOKEN }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Build Emails').item.json.welcome_to_signer) }}",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "pcs-0007",
      "name": "Welcome Signer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 400]
    },
    {
      "parameters": {
        "jsCode": "// Friendly response back to the page so it can show 'thanks' message.\nconst v = $('Build Emails').item.json;\nreturn { json: {\n  ok: v.ok !== false,\n  lead_id: v.lead_id,\n  message: 'Signup received. Our team will reach out within 24 hours to schedule your onboarding call.',\n  product: v.product,\n  tier: v.tier\n} };",
        "mode": "runOnceForAllItems"
      },
      "id": "pcs-0008",
      "name": "Shape Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 320]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin",  "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "POST, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type" }
            ]
          }
        }
      },
      "id": "pcs-0009",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1760, 320]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: false, status: $json.status || 400, error: $json.error || 'Invalid signup' }) }}",
        "options": {
          "responseCode": "={{ $json.status || 400 }}",
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin",  "value": "*" }
            ]
          }
        }
      },
      "id": "pcs-0010",
      "name": "Respond 4xx",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [880, 520]
    }
  ],
  "connections": {
    "Webhook": { "main": [[ { "node": "Validate + Build", "type": "main", "index": 0 } ]] },
    "Validate + Build": { "main": [[ { "node": "IF Valid", "type": "main", "index": 0 } ]] },
    "IF Valid": {
      "main": [
        [ { "node": "Insert Lead", "type": "main", "index": 0 } ],
        [ { "node": "Respond 4xx", "type": "main", "index": 0 } ]
      ]
    },
    "Insert Lead": { "main": [[ { "node": "Provision Auth User", "type": "main", "index": 0 } ]] },
    "Provision Auth User": { "main": [[ { "node": "Build Emails", "type": "main", "index": 0 } ]] },
    "Build Emails": {
      "main": [
        [
          { "node": "Notify Mary",   "type": "main", "index": 0 },
          { "node": "Welcome Signer","type": "main", "index": 0 }
        ]
      ]
    },
    "Notify Mary":    { "main": [[ { "node": "Shape Response", "type": "main", "index": 0 } ]] },
    "Welcome Signer": { "main": [[ { "node": "Shape Response", "type": "main", "index": 0 } ]] },
    "Shape Response": { "main": [[ { "node": "Respond OK",    "type": "main", "index": 0 } ]] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false,
  "meta": {
    "notes": "Public SaaS-client signup endpoint. POST /webhook/public/client-signup with { full_name, email, phone?, company?, job_title?, industry?, product, tier?, message?, consent: true }. Creates a 'saas_signup' lead so Mary can qualify-then-provision (avoids fake signups creating real platform accounts). Sends Mary a notification email + sends the signer a welcome auto-reply with 'what happens next' framing. Both emails queue silently if Postmark Production approval hasn't landed yet — they dispatch automatically the moment it does. Product allow-list: sales_engine, sentinel, ava, luxi, maxi, ciro, mga, smart_quote, unspecified. CORS allows crystallux.org + insurance.crystallux.org."
  }
}
