workflows/clx-video-outreach-v1.json
{
  "name": "CLX - Video Outreach v1",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "id": "clx-vo-0001",
      "name": "Schedule Trigger (DEACTIVATED)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        200,
        300
      ],
      "notes": "DEACTIVATED — do not turn on until TAVUS_API_KEY + TAVUS_REPLICA_ID are in .env, the Tavus n8n credential is created, at least one client has video_enabled=true, and the Anthropic credential is bound to Compose Video Script. See OPERATIONS_HANDBOOK §15."
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "clx-video-outreach-v1",
        "options": {}
      },
      "id": "clx-vo-0002",
      "name": "Manual Trigger (Webhook)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        500
      ],
      "webhookId": "clx-vo-0002-webhook",
      "notes": "Test entrypoint. POST { \"lead_id\": \"<uuid>\" } to render one video on demand. Also used by clx-booking-v2 48h-no-booking fallback via Execute Workflow."
    },
    {
      "parameters": {
        "jsCode": "// CLX Video Outreach v1 — Resolve input\n// Accepts:\n//   * Schedule Trigger (batch mode — pulls preferred_channel=video leads)\n//   * Manual Webhook { body: { lead_id } }\n//   * Execute Workflow from Booking v2 48h fallback { lead_id }\n\nconst input = $input.item.json;\nconst leadId = (input.body && input.body.lead_id) || input.lead_id || null;\n\nreturn {\n  json: {\n    lead_id: leadId,\n    mode: leadId ? 'single' : 'batch'\n  }\n};",
        "mode": "runOnceForEachItem"
      },
      "id": "clx-vo-0003",
      "name": "Resolve Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        400
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/leads?id=eq.{{ $json.lead_id }}&select=id,client_id,full_name,email,company,industry,job_title,city,product_type,lead_score,niche,preferred_channel,lead_status,campaign_name,campaign_value_proposition,campaign_call_to_action,channels_attempted,video_status,video_request_id,apollo_enriched_at,clients(video_enabled,video_monthly_cap,calendly_link,notification_email)&limit=1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": false,
        "options": {}
      },
      "id": "clx-vo-0004",
      "name": "Fetch Lead + Client",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        400
      ],
      "continueOnFail": true,
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "name": "Supabase Crystallux"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// CLX Video Outreach v1 — Normalize + preflight gates\n// Gates (short-circuit via _skip):\n//   1. lead row missing\n//   2. preferred_channel is not 'video' (batch mode only — single mode bypasses)\n//   3. client.video_enabled is not true\n//   4. video_status already set (generating / ready / delivered)\n//   5. channels_attempted already includes 'video'\n\nconst rows = $input.item.json;\nconst lead = Array.isArray(rows) ? rows[0] : rows;\nconst mode = $('Resolve Input').first().json.mode || 'batch';\n\nif (!lead || !lead.id) {\n  return { json: { _skip: true, skip_reason: 'lead_not_found' } };\n}\n\nconst client = lead.clients || {};\nconst videoEnabled = client.video_enabled === true;\nconst monthlyCap = Number(client.video_monthly_cap) || 50;\n\n// Batch mode must respect preferred_channel. Single mode (manual webhook\n// or Booking 48h fallback) is an explicit ask — bypass the channel check\n// but still respect video_enabled.\nif (mode === 'batch' && String(lead.preferred_channel || '').toLowerCase() !== 'video') {\n  return { json: { _skip: true, skip_reason: 'preferred_channel_mismatch', lead_id: lead.id, client_id: lead.client_id || null } };\n}\n\nif (!videoEnabled) {\n  return { json: { _skip: true, skip_reason: 'client_video_not_enabled', lead_id: lead.id, client_id: lead.client_id || null } };\n}\n\nconst existingStatus = String(lead.video_status || '').toLowerCase();\nif (existingStatus === 'generating' || existingStatus === 'ready' || existingStatus === 'delivered') {\n  return { json: { _skip: true, skip_reason: 'video_already_' + existingStatus, lead_id: lead.id, client_id: lead.client_id || null } };\n}\n\nconst attempted = Array.isArray(lead.channels_attempted) ? lead.channels_attempted : [];\nif (attempted.includes('video')) {\n  return { json: { _skip: true, skip_reason: 'already_attempted_video', lead_id: lead.id, client_id: lead.client_id || null } };\n}\n\nreturn {\n  json: {\n    ...lead,\n    _client: client,\n    _monthly_cap: monthlyCap\n  }\n};",
        "mode": "runOnceForEachItem"
      },
      "id": "clx-vo-0005",
      "name": "Normalize Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        400
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/niche_overlays?niche_name=eq.{{ encodeURIComponent($json.niche || $json.product_type || 'insurance_broker') }}&select=video_script_template&limit=1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "clx-vo-0006",
      "name": "Fetch Niche Overlay",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1160,
        400
      ],
      "continueOnFail": true,
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "name": "Supabase Crystallux"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/rpc/get_monthly_video_count",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ p_client_id: $('Normalize Lead').first().json.client_id || null }) }}",
        "options": {}
      },
      "id": "clx-vo-0007",
      "name": "Check Monthly Video Count",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        400
      ],
      "continueOnFail": true,
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "name": "Supabase Crystallux"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// CLX Video Outreach v1 — Monthly cap gate\n// Tavus bills per render; video_monthly_cap is the client's per-calendar-\n// month budget. We leave a small buffer (cap - 2) so in-flight callbacks\n// don't blow the ceiling mid-month.\n\nconst lead = $('Normalize Lead').first().json;\nif (lead._skip) return { json: lead };\n\nconst overlayRows = $('Fetch Niche Overlay').first().json;\nconst overlay = Array.isArray(overlayRows) ? overlayRows[0] : overlayRows;\nconst scriptTemplate = (overlay && overlay.video_script_template) || null;\n\nconst used = Number($input.item.json) || 0;\nconst cap = Number(lead._monthly_cap) || 50;\nconst buffer = Math.max(0, cap - 2);\n\nif (used >= buffer) {\n  return { json: { _skip: true, skip_reason: 'video_monthly_cap_exceeded', generations_this_month: used, cap, lead_id: lead.id, client_id: lead.client_id || null } };\n}\n\nif (!scriptTemplate) {\n  return { json: { _skip: true, skip_reason: 'no_video_script_template_for_niche', niche: lead.niche || lead.product_type || null, lead_id: lead.id, client_id: lead.client_id || null } };\n}\n\nreturn { json: { ...lead, generations_this_month: used, cap, script_template: scriptTemplate } };",
        "mode": "runOnceForEachItem"
      },
      "id": "clx-vo-0008",
      "name": "Monthly Cap Gate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1640,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "clx-vo-cond-skip",
              "leftValue": "={{ $json._skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "clx-vo-0009",
      "name": "IF Skip",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1880,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/scan_errors",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ lead_id: $json.lead_id || null, node_name: 'video_preflight_skip', error_code: 'VIDEO_PREFLIGHT_SKIP', error_message: $json.skip_reason || 'unknown', created_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "clx-vo-0010",
      "name": "Log Preflight Skip",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2120,
        240
      ],
      "continueOnFail": true,
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "name": "Supabase Crystallux"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// CLX Video Outreach v1 — Interpolate script template\n// Fills the niche's video_script_template with lead-specific tokens:\n//   {first_name}, {company}, {city}, {industry}\n// Downstream we send this to Claude Haiku for a light rewrite pass, then\n// hand the final text to Tavus. This deterministic interpolation is the\n// fallback in case the Claude step fails — Tavus still gets a usable\n// script.\n\nconst lead = $input.item.json;\n\nconst firstName = (lead.full_name || '').split(' ')[0] || 'there';\nconst company = lead.company || 'your business';\nconst city = lead.city || 'your area';\nconst industry = lead.industry || (lead.product_type || '').replace(/_/g, ' ') || 'your industry';\n\nconst raw = String(lead.script_template || '')\n  .replace(/\\{first_name\\}/g, firstName)\n  .replace(/\\{company\\}/g, company)\n  .replace(/\\{city\\}/g, city)\n  .replace(/\\{industry\\}/g, industry);\n\nreturn {\n  json: {\n    ...lead,\n    interpolated_script: raw,\n    first_name: firstName\n  }\n};",
        "mode": "runOnceForEachItem"
      },
      "id": "clx-vo-0011",
      "name": "Interpolate Script",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2120,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-haiku-4-5-20251001', max_tokens: 400, messages: [{ role: 'user', content: 'You are helping generate a 60-second video outreach script for a peer-advisor sales call. Rewrite the draft below so it sounds natural, confident, and specific to the lead. Keep it under 160 words. Do NOT add greetings, sign-offs, or meta-commentary — output ONLY the script text.\\n\\nLEAD:\\nname: ' + ($json.first_name || 'there') + '\\ncompany: ' + ($json.company || '') + '\\ncity: ' + ($json.city || '') + '\\nindustry: ' + ($json.industry || '') + '\\n\\nDRAFT:\\n' + ($json.interpolated_script || '') }] }) }}",
        "options": {}
      },
      "id": "clx-vo-0012",
      "name": "Compose Video Script (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2360,
        500
      ],
      "continueOnFail": true,
      "onError": "continueRegularOutput",
      "notes": "TODO: Bind to the 'Anthropic API' credential (HTTP Header Auth, header name: x-api-key, value: $ANTHROPIC_API_KEY). On auth failure the next node falls back to the interpolated_script."
    },
    {
      "parameters": {
        "jsCode": "// CLX Video Outreach v1 — Parse Claude response + fallback\n// Extracts the rewritten script from Claude's messages response. If the\n// Claude call failed (no credential, rate limit, etc.), fall back to the\n// deterministic interpolated_script so Tavus still gets valid input.\n\nconst resp = $input.item.json || {};\nconst lead = $('Interpolate Script').first().json;\n\nlet finalScript = null;\ntry {\n  if (Array.isArray(resp.content) && resp.content[0] && resp.content[0].text) {\n    finalScript = String(resp.content[0].text).trim();\n  }\n} catch (e) {\n  finalScript = null;\n}\n\n// Fallback chain: Claude → interpolated → template\nif (!finalScript) finalScript = lead.interpolated_script;\nif (!finalScript) finalScript = lead.script_template;\n\n// Tavus hard caps script length — keep at 1500 chars to be safe\nfinalScript = String(finalScript || '').slice(0, 1500);\n\nreturn {\n  json: {\n    ...lead,\n    final_script: finalScript,\n    claude_ok: !!(resp && Array.isArray(resp.content) && resp.content.length)\n  }\n};",
        "mode": "runOnceForEachItem"
      },
      "id": "clx-vo-0013",
      "name": "Parse Claude Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2600,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://tavusapi.com/v2/videos",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ replica_id: 'TODO_TAVUS_REPLICA_ID', script: $json.final_script, video_name: 'CLX ' + ($json.company || 'outreach') + ' ' + new Date().toISOString().slice(0,10), background_url: null, callback_url: 'TODO_TAVUS_CALLBACK_URL' }) }}",
        "options": {}
      },
      "id": "clx-vo-0014",
      "name": "Tavus Generate Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2840,
        500
      ],
      "continueOnFail": true,
      "onError": "continueRegularOutput",
      "notes": "TODO: Create n8n HTTP Header Auth credential 'Tavus' (header name: x-api-key, value: $TAVUS_API_KEY), bind to this node. Replace TODO_TAVUS_REPLICA_ID with the replica_id returned by Tavus after your 2-min training video is processed. Replace TODO_TAVUS_CALLBACK_URL with the webhook URL from clx-video-ready-v1 (copy from the workflow's webhook production URL). No credentials block attached yet — the workflow will fail auth until configured. See OPERATIONS_HANDBOOK §15."
    },
    {
      "parameters": {
        "jsCode": "// CLX Video Outreach v1 — Parse Tavus response\n// Tavus /v2/videos returns { video_id, status, hosted_url, ... } on\n// success, or a 4xx error body on failure. continueOnFail means the raw\n// error may land here — anything without a video_id is a failure.\n\nconst resp = $input.item.json || {};\nconst lead = $('Parse Claude Response').first().json;\n\nconst ok = !!(resp.video_id || resp.id);\nconst request_id = resp.video_id || resp.id || null;\nconst tavus_status = resp.status || null;\nconst error_message = ok ? null : (resp.message || resp.error || resp.detail || JSON.stringify(resp).slice(0, 500));\n\nreturn {\n  json: {\n    ...lead,\n    tavus_ok: ok,\n    tavus_request_id: request_id,\n    tavus_status,\n    tavus_error: error_message\n  }\n};",
        "mode": "runOnceForEachItem"
      },
      "id": "clx-vo-0015",
      "name": "Parse Tavus Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3080,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/video_generation_log",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ lead_id: $json.id, client_id: $json.client_id || null, request_id: $json.tavus_request_id || null, provider: 'tavus', script: $json.final_script, status: $json.tavus_ok ? 'generating' : 'failed', generated_at: new Date().toISOString(), metadata: { tavus_status: $json.tavus_status || null, claude_ok: $json.claude_ok === true, error: $json.tavus_error || null } }) }}",
        "options": {}
      },
      "id": "clx-vo-0016",
      "name": "Insert Video Generation Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3320,
        500
      ],
      "continueOnFail": true,
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "name": "Supabase Crystallux"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// CLX Video Outreach v1 — Prep lead update\n// Writes back video_request_id / video_script / video_status and appends\n// 'video' to channels_attempted. On Tavus failure we leave lead_status\n// untouched so the router can re-route on the next tick.\n\nconst parsed = $('Parse Tavus Response').first().json;\nconst lead = $('Parse Claude Response').first().json;\n\nconst attempted = Array.isArray(lead.channels_attempted) ? [...lead.channels_attempted] : [];\nif (!attempted.includes('video')) attempted.push('video');\n\nconst fields = {\n  channels_attempted: attempted,\n  last_channel_attempted: 'video',\n  last_channel_attempted_at: new Date().toISOString(),\n  video_script: parsed.final_script,\n  video_status: parsed.tavus_ok ? 'generating' : 'failed'\n};\n\nif (parsed.tavus_ok) {\n  fields.video_request_id = parsed.tavus_request_id;\n  fields.lead_status = 'Video Generating';\n}\n\nconst body = { p_lead_id: lead.id, p_fields: fields };\n\nreturn { json: { ...parsed, rpc_body: JSON.stringify(body) } };",
        "mode": "runOnceForEachItem"
      },
      "id": "clx-vo-0017",
      "name": "Prep Update Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3560,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/rpc/update_lead",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.rpc_body }}",
        "options": {}
      },
      "id": "clx-vo-0018",
      "name": "RPC Update Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3800,
        500
      ],
      "continueOnFail": true,
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "name": "Supabase Crystallux"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "clx-vo-cond-failed",
              "leftValue": "={{ String($('Parse Tavus Response').first().json.tavus_ok) }}",
              "rightValue": "false",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "clx-vo-0019",
      "name": "IF Generation Failed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4040,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/scan_errors",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ lead_id: $('Parse Tavus Response').first().json.id, node_name: 'tavus_generate_failed', error_code: 'VIDEO_GENERATION_FAILED', error_message: ($('Parse Tavus Response').first().json.tavus_error || 'unknown').toString().slice(0, 500), created_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "clx-vo-0020",
      "name": "Log Generation Failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4280,
        420
      ],
      "continueOnFail": true,
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "name": "Supabase Crystallux"
        }
      }
    },
    {
      "parameters": {},
      "id": "clx-vo-0021",
      "name": "Run Summary",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4280,
        600
      ]
    }
  ],
  "connections": {
    "Schedule Trigger (DEACTIVATED)": {
      "main": [
        [
          { "node": "Resolve Input", "type": "main", "index": 0 }
        ]
      ]
    },
    "Manual Trigger (Webhook)": {
      "main": [
        [
          { "node": "Resolve Input", "type": "main", "index": 0 }
        ]
      ]
    },
    "Resolve Input": {
      "main": [
        [
          { "node": "Fetch Lead + Client", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch Lead + Client": {
      "main": [
        [
          { "node": "Normalize Lead", "type": "main", "index": 0 }
        ]
      ]
    },
    "Normalize Lead": {
      "main": [
        [
          { "node": "Fetch Niche Overlay", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch Niche Overlay": {
      "main": [
        [
          { "node": "Check Monthly Video Count", "type": "main", "index": 0 }
        ]
      ]
    },
    "Check Monthly Video Count": {
      "main": [
        [
          { "node": "Monthly Cap Gate", "type": "main", "index": 0 }
        ]
      ]
    },
    "Monthly Cap Gate": {
      "main": [
        [
          { "node": "IF Skip", "type": "main", "index": 0 }
        ]
      ]
    },
    "IF Skip": {
      "main": [
        [
          { "node": "Log Preflight Skip", "type": "main", "index": 0 }
        ],
        [
          { "node": "Interpolate Script", "type": "main", "index": 0 }
        ]
      ]
    },
    "Interpolate Script": {
      "main": [
        [
          { "node": "Compose Video Script (Claude)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Compose Video Script (Claude)": {
      "main": [
        [
          { "node": "Parse Claude Response", "type": "main", "index": 0 }
        ]
      ]
    },
    "Parse Claude Response": {
      "main": [
        [
          { "node": "Tavus Generate Video", "type": "main", "index": 0 }
        ]
      ]
    },
    "Tavus Generate Video": {
      "main": [
        [
          { "node": "Parse Tavus Response", "type": "main", "index": 0 }
        ]
      ]
    },
    "Parse Tavus Response": {
      "main": [
        [
          { "node": "Insert Video Generation Log", "type": "main", "index": 0 }
        ]
      ]
    },
    "Insert Video Generation Log": {
      "main": [
        [
          { "node": "Prep Update Lead", "type": "main", "index": 0 }
        ]
      ]
    },
    "Prep Update Lead": {
      "main": [
        [
          { "node": "RPC Update Lead", "type": "main", "index": 0 }
        ]
      ]
    },
    "RPC Update Lead": {
      "main": [
        [
          { "node": "IF Generation Failed", "type": "main", "index": 0 }
        ]
      ]
    },
    "IF Generation Failed": {
      "main": [
        [
          { "node": "Log Generation Failure", "type": "main", "index": 0 }
        ],
        [
          { "node": "Run Summary", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "clx-video-outreach-v1",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "3f3f6370fc2e867943491172b687727f653843d554f7415f38ca14c384f12f38"
  },
  "id": "clx-video-outreach-v1",
  "tags": []
}
