workflows/clx-no-show-sms-recovery-v1.json
{
  "name": "CLX - No-Show SMS Recovery v1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "clx-no-show-sms-recovery",
        "options": { "responseData": "={{ JSON.stringify({ ok: $('Build Response').first().json.ok, lead_id: $('Build Response').first().json.lead_id, appointment_id: $('Build Response').first().json.appointment_id, twilio_sid: $('Build Response').first().json.twilio_sid || null, error: $('Build Response').first().json.error || null }) }}" }
      },
      "id": "clx-nsr-v1-0001",
      "name": "Recovery Webhook (DEACTIVATED)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 400],
      "webhookId": "clx-nsr-v1-0001-webhook",
      "notes": "DEACTIVATED. Body: { id } where id is the appointment_log row. Typically fired from clx-no-show-detector-v1's Execute Workflow node. Can also be called manually for edge-case recovery."
    },
    {
      "parameters": {
        "jsCode": "// Accept either a body with {id} or a top-level {id} from Execute Workflow each mode.\nconst data = $input.item.json || {};\nconst appt_id = (data.body && data.body.id) || data.id || null;\nif (!appt_id) return { json: { _error: true, error: 'appointment id required', ok: false } };\nreturn { json: { appointment_id: appt_id } };",
        "mode": "runOnceForEachItem"
      },
      "id": "clx-nsr-v1-0002",
      "name": "Parse Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/appointment_log?id=eq.{{ $json.appointment_id }}&select=id,client_id,lead_id,scheduled_start,leads(id,first_name,last_name,phone,email),clients(id,client_name,calendly_link,notification_email)&limit=1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [ { "name": "Accept", "value": "application/json" } ]
        },
        "options": {}
      },
      "id": "clx-nsr-v1-0003",
      "name": "Fetch Appointment Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 400],
      "continueOnFail": true,
      "onError": "continueRegularOutput",
      "credentials": { "httpHeaderAuth": { "name": "Supabase Crystallux" } }
    },
    {
      "parameters": {
        "jsCode": "// Preflight: must have lead.phone and client.calendly_link. If either\n// missing, short-circuit to a structured skip (logged but not failed).\nconst arr = $input.item.json || [];\nconst row = Array.isArray(arr) && arr.length > 0 ? arr[0] : null;\nif (!row) return { json: { _skip: true, skip_reason: 'appointment not found', ok: false } };\n\nconst lead = row.leads || {};\nconst client = row.clients || {};\nconst phone = (lead.phone || '').replace(/[^0-9]/g, '');\nconst rebook = client.calendly_link || '';\n\nif (!phone) return { json: { _skip: true, skip_reason: 'lead.phone missing', ok: false, lead_id: lead.id, appointment_id: row.id } };\nif (!rebook) return { json: { _skip: true, skip_reason: 'client.calendly_link missing', ok: false, lead_id: lead.id, appointment_id: row.id } };\n\nconst name = (lead.first_name || 'there').trim();\nconst clientName = (client.client_name || 'our team').trim();\n// Default template — can be overridden per-agent from agent_calendar_prefs.no_show_sms_template at a later phase.\nconst message = 'Hi ' + name + ' — ' + clientName + ' here. Sorry we missed you on our call today. No worries — pick a better time here: ' + rebook + ' Reply STOP to opt out.';\n\n// TESTING MODE redirect: in dev, route all recovery SMS to Mary's test phone.\n// Leave the const below as-is during dev; delete to go live.\nconst TESTING_PHONE = '+15555550123'; // TESTING MODE — replace with Mary's real phone or remove before production\nconst send_to = TESTING_PHONE; // TESTING MODE — remove this override before production\n\nreturn { json: {\n  appointment_id: row.id,\n  lead_id: lead.id,\n  client_id: client.id,\n  message_text: message,\n  send_to_phone: send_to,\n  rebook_link: rebook\n} };",
        "mode": "runOnceForEachItem"
      },
      "id": "clx-nsr-v1-0004",
      "name": "Compose SMS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [
            { "id": "clx-nsr-if-skip", "leftValue": "={{ $json._skip || false }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "clx-nsr-v1-0005",
      "name": "IF Skip",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1160, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/TWILIO_ACCOUNT_SID_PLACEHOLDER/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [ { "name": "Content-Type", "value": "application/x-www-form-urlencoded" } ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "From", "value": "=+TWILIO_SMS_NUMBER_PLACEHOLDER" },
            { "name": "To",   "value": "=+{{ $json.send_to_phone }}" },
            { "name": "Body", "value": "={{ $json.message_text }}" }
          ]
        },
        "options": {}
      },
      "id": "clx-nsr-v1-0006",
      "name": "Twilio SMS Send",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1400, 480],
      "continueOnFail": true,
      "onError": "continueRegularOutput",
      "notes": "TODO: (1) Create n8n credential named exactly `Twilio SMS` (Basic Auth: username=Account SID, password=Auth Token). (2) Replace TWILIO_ACCOUNT_SID_PLACEHOLDER + TWILIO_SMS_NUMBER_PLACEHOLDER with real values (or expression-inject from env). (3) Bind this node to `Twilio SMS` credential. Until configured, node fails auth — workflow downstream logs NO_SHOW_SMS_FAILED."
    },
    {
      "parameters": {
        "jsCode": "// Parse Twilio response\nconst resp = $input.item.json || {};\nconst ctx = $('Compose SMS').first().json;\nconst status = resp.status || null;\nconst ok = !!(resp.sid && !resp.error_code && ['queued','sent','delivered','accepted'].includes(String(status).toLowerCase()));\nconst err = ok ? null : (resp.error_message || resp.message || JSON.stringify(resp).slice(0, 500));\nreturn { json: Object.assign({}, ctx, { twilio_ok: ok, twilio_sid: resp.sid || null, twilio_status: status, twilio_error: err }) };",
        "mode": "runOnceForEachItem"
      },
      "id": "clx-nsr-v1-0007",
      "name": "Parse Twilio Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1640, 480]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/appointment_log?id=eq.{{ $json.appointment_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ recovery_sms_sent_at: $json.twilio_ok ? new Date().toISOString() : null, recovery_sms_provider_ref: $json.twilio_sid || null, rebook_link: $json.rebook_link, updated_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "clx-nsr-v1-0008",
      "name": "Update Appointment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1880, 480],
      "continueOnFail": true,
      "onError": "continueRegularOutput",
      "credentials": { "httpHeaderAuth": { "name": "Supabase Crystallux" } }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [
            { "id": "clx-nsr-if-failed", "leftValue": "={{ String($('Parse Twilio Response').first().json.twilio_ok) }}", "rightValue": "false", "operator": { "type": "string", "operation": "equals" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "clx-nsr-v1-0009",
      "name": "IF Send Failed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2120, 480]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/scan_errors",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ lead_id: $('Compose SMS').first().json.lead_id, node_name: 'twilio_sms_send_failed', error_code: 'NO_SHOW_SMS_FAILED', error_message: ($('Parse Twilio Response').first().json.twilio_error || 'unknown').toString().slice(0, 500), severity: 'warning', created_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "clx-nsr-v1-0010",
      "name": "Log NO_SHOW_SMS_FAILED",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2360, 560],
      "continueOnFail": true,
      "onError": "continueRegularOutput",
      "credentials": { "httpHeaderAuth": { "name": "Supabase Crystallux" } }
    },
    {
      "parameters": {
        "jsCode": "// Pass-through so webhook responseData resolves cleanly.\nconst src = $input.item.json || {};\nreturn { json: {\n  ok: !!src.twilio_ok,\n  appointment_id: src.appointment_id || null,\n  lead_id: src.lead_id || null,\n  twilio_sid: src.twilio_sid || null,\n  error: src.twilio_error || null\n} };",
        "mode": "runOnceForEachItem"
      },
      "id": "clx-nsr-v1-0011",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2360, 400]
    }
  ],
  "connections": {
    "Recovery Webhook (DEACTIVATED)": { "main": [[ { "node": "Parse Input", "type": "main", "index": 0 } ]] },
    "Parse Input":                   { "main": [[ { "node": "Fetch Appointment Context", "type": "main", "index": 0 } ]] },
    "Fetch Appointment Context":     { "main": [[ { "node": "Compose SMS", "type": "main", "index": 0 } ]] },
    "Compose SMS":                   { "main": [[ { "node": "IF Skip", "type": "main", "index": 0 } ]] },
    "IF Skip":                       { "main": [[ { "node": "Build Response", "type": "main", "index": 0 } ], [ { "node": "Twilio SMS Send", "type": "main", "index": 0 } ]] },
    "Twilio SMS Send":               { "main": [[ { "node": "Parse Twilio Response", "type": "main", "index": 0 } ]] },
    "Parse Twilio Response":         { "main": [[ { "node": "Update Appointment", "type": "main", "index": 0 } ]] },
    "Update Appointment":            { "main": [[ { "node": "IF Send Failed", "type": "main", "index": 0 } ]] },
    "IF Send Failed":                { "main": [[ { "node": "Log NO_SHOW_SMS_FAILED", "type": "main", "index": 0 } ], [ { "node": "Build Response", "type": "main", "index": 0 } ]] },
    "Log NO_SHOW_SMS_FAILED":        { "main": [[ { "node": "Build Response", "type": "main", "index": 0 } ]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "clx-no-show-sms-recovery-v1",
  "meta": { "templateCredsSetupCompleted": false },
  "id": "clx-no-show-sms-recovery-v1",
  "tags": []
}
