workflows/clx-email-enrichment.json
{
  "name": "CLX - Email Enrichment",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "id": "clx13-0000-0000-0000-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/leads?source=eq.google_maps&or=(email.is.null,email.eq.)&do_not_contact=eq.false&select=id,full_name,company,industry,city,product_type,notes,lead_status&limit=25",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": ""
            }
          ]
        },
        "options": {}
      },
      "id": "clx13-0000-0000-0000-000000000002",
      "name": "Get Leads Without Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Supabase Crystallux"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "clx13-cond-leads-found",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "clx13-0000-0000-0000-000000000003",
      "name": "IF Leads Found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "clx13-0000-0000-0000-000000000004",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        920,
        300
      ]
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "clx13-0000-0000-0000-000000000005",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1160,
        300
      ],
      "webhookId": "clx13-wait-webhook-001"
    },
    {
      "parameters": {
        "jsCode": "// CLX Email Enrichment \u2014 Extract Domain from Website URL in notes field\n// Notes format: 'Places ID: ChIJ... | Address: 123 Main St, Toronto, ON | Website: https://example.com'\n\nconst lead = $('Split In Batches').item.json;\nconst notes = lead.notes || '';\n\nconsole.log('Notes:', notes);\n\nlet domain = '';\ntry {\n  const websiteMatch = notes.match(/Website:\\s*(https?:\\/\\/\\S+)/i);\n  if (websiteMatch && websiteMatch[1]) {\n    const cleanUrl = websiteMatch[1]\n      .replace(/[|\\s].*$/, '')\n      .trim();\n    const urlObj = new URL(cleanUrl);\n    domain = urlObj.hostname.replace(/^www\\./, '');\n  }\n} catch(e) {\n  domain = '';\n}\n\nconsole.log('Domain found:', domain);\n\nreturn {\n  json: {\n    ...lead,\n    extracted_domain: domain\n  }\n};"
      },
      "id": "clx13-0000-0000-0000-000000000006",
      "name": "Extract Domain",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "clx13-cond-has-domain",
              "leftValue": "={{ $json.extracted_domain }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "clx13-0000-0000-0000-000000000007",
      "name": "IF Has Domain",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1640,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://api.hunter.io/v2/domain-search?domain=' + $json.extracted_domain + '&api_key=4778d8309cf86196885d4a07b0f177af19375249&limit=5&type=personal' }}",
        "authentication": "noAuth",
        "options": {}
      },
      "id": "clx13-0000-0000-0000-000000000008",
      "name": "Search Hunter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1880,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// CLX Email Enrichment \u2014 Parse Hunter.io Response\n// Extracts the best email from Hunter.io domain search results\n// Priority: first verified email, then first email found\n\nconst response = $('Search Hunter').item.json;\nconst lead = $('Extract Domain').item.json;\n\nlet bestEmail = '';\n\ntry {\n  const data = response.data || {};\n  const emails = data.emails || [];\n\n  if (emails.length > 0) {\n    // Priority 1: first verified email\n    const verified = emails.find(e => e.verification && e.verification.status === 'valid');\n    if (verified) {\n      bestEmail = verified.value;\n    } else {\n      // Priority 2: first email found\n      bestEmail = emails[0].value || '';\n    }\n  }\n} catch (e) {\n  bestEmail = '';\n}\n\nreturn {\n  json: {\n    id: lead.id,\n    company: lead.company,\n    domain: lead.domain,\n    email: bestEmail\n  }\n};"
      },
      "id": "clx13-0000-0000-0000-000000000009",
      "name": "Parse Hunter Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2120,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "clx13-cond-email-found",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "clx13-0000-0000-0000-000000000010",
      "name": "IF Email Found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2360,
        300
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/leads?id=eq.' + $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": ""
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ email: $json.email, email_enriched: true, email_enriched_at: new Date().toISOString(), updated_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "clx13-0000-0000-0000-000000000011",
      "name": "Update Lead Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2600,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Supabase Crystallux"
        }
      }
    },
    {
      "parameters": {},
      "id": "clx13-0000-0000-0000-000000000012",
      "name": "No Email Found",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2600,
        500
      ]
    },
    {
      "parameters": {},
      "id": "clx13-0000-0000-0000-000000000013",
      "name": "No Domain",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1880,
        500
      ]
    },
    {
      "parameters": {},
      "id": "clx13-0000-0000-0000-000000000014",
      "name": "No Leads",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        680,
        500
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Leads Without Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Leads Without Email": {
      "main": [
        [
          {
            "node": "IF Leads Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Leads Found": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Extract Domain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Domain": {
      "main": [
        [
          {
            "node": "IF Has Domain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Has Domain": {
      "main": [
        [
          {
            "node": "Search Hunter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Domain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Hunter": {
      "main": [
        [
          {
            "node": "Parse Hunter Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Hunter Response": {
      "main": [
        [
          {
            "node": "IF Email Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Email Found": {
      "main": [
        [
          {
            "node": "Update Lead Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Email Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead Email": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Email Found": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Domain": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "clx-email-enrichment-v001",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "3f3f6370fc2e867943491172b687727f653843d554f7415f38ca14c384f12f38"
  },
  "id": "clx-email-enrichment",
  "tags": []
}
