workflows/clx-follow-up.json
{
  "name": "CLX - Follow Up",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 60
            }
          ]
        }
      },
      "id": "clx08-0000-0000-0000-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ \"https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/leads?lead_status=eq.Contacted&followup_scheduled_at=lte.\" + new Date().toISOString() + \"&followup_count=lt.3&reply_detected=eq.false&unsubscribed=eq.false&do_not_contact=eq.false&total_emails_sent=lt.5&source=neq.test&select=id,full_name,email,company,followup_message,followup_scheduled_at,followup_count,lead_status,email_subject,outreach_sent_at,total_emails_sent,last_email_sent_at,unsubscribed,do_not_contact&limit=5\" }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": ""
            }
          ]
        },
        "options": {}
      },
      "id": "clx08-0000-0000-0000-000000000002",
      "name": "Get Due Follow-ups",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "pTFl5SIhensUaU27",
          "name": "Supabase Crystallux"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "clx08-cond-string-not-empty-001",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "clx08-0000-0000-0000-000000000003",
      "name": "IF Follow-ups Found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "clx08-0000-0000-0000-000000000004",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        920,
        300
      ]
    },
    {
      "parameters": {
        "amount": 60,
        "unit": "seconds"
      },
      "id": "clx08-0000-0000-0000-000000000005",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1160,
        300
      ],
      "webhookId": "clx08-wait-webhook-001"
    },
    {
      "parameters": {
        "jsCode": "// GUARD 7: 24-hour cooldown + all safety checks\nconst lead = $('Split In Batches').item.json;\n\nif (!lead.email || lead.email.trim() === '') return [];\nif (lead.do_not_contact === true || lead.unsubscribed === true) return [];\nif ((Number(lead.total_emails_sent) || 0) >= 5) return [];\n\nconst hoursSinceLastEmail = lead.last_email_sent_at ?\n  (Date.now() - new Date(lead.last_email_sent_at).getTime()) / 3600000 : 999;\nif (hoursSinceLastEmail < 24) return [];\n\nconst now = new Date();\nconst currentCount = typeof lead.followup_count === 'number' ? lead.followup_count : 0;\nconst newCount = currentCount + 1;\nconst followupSubject = 'Re: ' + (lead.email_subject || '');\n\nlet nextFollowupDate = null;\nlet newLeadStatus = 'Contacted';\n\nif (newCount === 1) {\n  nextFollowupDate = new Date(now.getTime() + 5 * 24 * 60 * 60 * 1000).toISOString();\n} else if (newCount === 2) {\n  nextFollowupDate = new Date(now.getTime() + 10 * 24 * 60 * 60 * 1000).toISOString();\n} else if (newCount >= 3) {\n  nextFollowupDate = null;\n  newLeadStatus = 'Closed Lost';\n}\n\n// GUARD 5: Unsubscribe footer\nconst unsubFooter = '<br><br><hr style=\"border:none;border-top:1px solid #e0e0e0;margin:24px 0;\"><p style=\"font-size:11px;color:#999999;font-family:Arial,sans-serif;\">To unsubscribe reply STOP or <a href=\"mailto:info@crystallux.org?subject=Unsubscribe\" style=\"color:#999999;\">click here</a>.<br>Sent by Crystallux AI | info@crystallux.org</p>';\n\nconst followupBody = (lead.followup_message || '') + unsubFooter;\n\nreturn {\n  json: {\n    ...lead,\n    new_followup_count: newCount,\n    followup_subject: followupSubject,\n    followup_body_with_footer: followupBody,\n    next_followup_scheduled_at: nextFollowupDate,\n    new_lead_status: newLeadStatus,\n    followup_sent_at: now.toISOString(),\n    total_emails_sent: (Number(lead.total_emails_sent) || 0) + 1,\n    last_email_sent_at: now.toISOString(),\n    updated_at: now.toISOString()\n  }\n};"
      },
      "id": "clx08-0000-0000-0000-000000000006",
      "name": "Build Follow Up Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "clx08-safety-email",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "clx08-0000-0000-0000-000000000010",
      "name": "IF Safe To Send",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1640,
        300
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Build Follow Up Email').item.json.email }}",
        "subject": "={{ $('Build Follow Up Email').item.json.followup_subject }}",
        "emailType": "html",
        "message": "={{ $('Build Follow Up Email').item.json.followup_body_with_footer }}",
        "options": {
          "appendAttributionToBody": false
        }
      },
      "id": "clx08-0000-0000-0000-000000000007",
      "name": "Send Follow Up Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1880,
        300
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "3",
          "name": "Gmail"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ \"https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/leads?id=eq.\" + $('Build Follow Up Email').item.json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": ""
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ followup_count: $('Build Follow Up Email').item.json.new_followup_count, followup_sent_at: $('Build Follow Up Email').item.json.followup_sent_at, next_followup_scheduled_at: $('Build Follow Up Email').item.json.next_followup_scheduled_at, lead_status: $('Build Follow Up Email').item.json.new_lead_status, total_emails_sent: $('Build Follow Up Email').item.json.total_emails_sent, last_email_sent_at: $('Build Follow Up Email').item.json.last_email_sent_at, updated_at: $('Build Follow Up Email').item.json.updated_at }) }}",
        "options": {}
      },
      "id": "clx08-0000-0000-0000-000000000008",
      "name": "Update Follow Up Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2120,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "pTFl5SIhensUaU27",
          "name": "Supabase Crystallux"
        }
      }
    },
    {
      "parameters": {},
      "id": "clx08-0000-0000-0000-000000000011",
      "name": "Skip Lead",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1880,
        500
      ]
    },
    {
      "parameters": {},
      "id": "clx08-0000-0000-0000-000000000009",
      "name": "No Due Follow-ups",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        680,
        500
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Due Follow-ups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Due Follow-ups": {
      "main": [
        [
          {
            "node": "IF Follow-ups Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Follow-ups Found": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Due Follow-ups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Build Follow Up Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Follow Up Email": {
      "main": [
        [
          {
            "node": "IF Safe To Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Safe To Send": {
      "main": [
        [
          {
            "node": "Send Follow Up Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Follow Up Email": {
      "main": [
        [
          {
            "node": "Update Follow Up Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Follow Up Status": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Lead": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "clx-followup-v083-antispam",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "3f3f6370fc2e867943491172b687727f653843d554f7415f38ca14c384f12f38"
  },
  "id": "clx-follow-up",
  "tags": []
}
