workflows/clx-mcp-tool-gateway.json
{
  "name": "CLX - MCP Tool Gateway",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "crystallux-mcp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "clx12-0001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        200,
        500
      ],
      "webhookId": "clx12-webhook-mcp-gateway"
    },
    {
      "parameters": {
        "jsCode": "try {\n  const headers = $('Webhook Trigger').item.json.headers || {};\n  const apiKey = headers['x-mcp-api-key'] || headers['X-MCP-API-Key'] || '';\n\n  if (!apiKey) {\n    return { json: { valid: false, error: 'Missing X-MCP-API-Key header', tool_name: '', tool_input: {} } };\n  }\n\n  const body = $('Webhook Trigger').item.json.body || $('Webhook Trigger').item.json;\n  const toolName = body.tool_name || '';\n  const toolInput = body.tool_input || {};\n\n  const validTools = [\n    'research_lead', 'score_lead', 'get_pipeline_stats', 'scan_city',\n    'get_lead', 'list_leads', 'update_lead_status',\n    'check_system_health', 'check_pipeline_health', 'get_execution_stats'\n  ];\n\n  if (!toolName) {\n    return { json: { valid: false, error: 'Missing tool_name in request body', tool_name: '', tool_input: {} } };\n  }\n\n  if (!validTools.includes(toolName)) {\n    return { json: { valid: false, error: 'Unknown tool: ' + toolName + '. Available: ' + validTools.join(', '), tool_name: toolName, tool_input: toolInput } };\n  }\n\n  const requiredInputs = {\n    research_lead: ['lead_id'],\n    score_lead: ['lead_id'],\n    get_pipeline_stats: [],\n    scan_city: ['city', 'industry'],\n    get_lead: [],\n    list_leads: [],\n    update_lead_status: ['lead_id', 'lead_status'],\n    check_system_health: [],\n    check_pipeline_health: [],\n    get_execution_stats: []\n  };\n\n  const missing = (requiredInputs[toolName] || []).filter(f => !toolInput[f]);\n  if (missing.length > 0) {\n    return { json: { valid: false, error: 'Missing required inputs: ' + missing.join(', '), tool_name: toolName, tool_input: toolInput } };\n  }\n\n  return { json: { valid: true, tool_name: toolName, tool_input: toolInput } };\n} catch (error) {\n  return { json: { valid: false, error: error.message, tool_name: '', tool_input: {} } };\n}"
      },
      "id": "clx12-0002",
      "name": "Parse Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "clx12-cond-valid",
              "leftValue": "={{ String($json.valid) }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "clx12-0003",
      "name": "IF Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        640,
        500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "clx12-cond-t01",
              "leftValue": "={{ $json.tool_name }}",
              "rightValue": "research_lead",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "clx12-0010",
      "name": "IF research_lead",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        860,
        500
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/leads?id=eq.' + $('Parse Request').item.json.tool_input.lead_id + '&select=*&limit=1' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": ""
            }
          ]
        },
        "options": {}
      },
      "id": "clx12-0011",
      "name": "Execute Research Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        260
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "pTFl5SIhensUaU27",
          "name": "Supabase Crystallux"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "clx12-cond-t02",
              "leftValue": "={{ $json.tool_name }}",
              "rightValue": "score_lead",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "clx12-0020",
      "name": "IF score_lead",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1080,
        500
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/leads?id=eq.' + $('Parse Request').item.json.tool_input.lead_id + '&select=id,full_name,company,lead_score,priority_level,scoring_reason,lead_status&limit=1' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": ""
            }
          ]
        },
        "options": {}
      },
      "id": "clx12-0021",
      "name": "Execute Score Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        260
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "pTFl5SIhensUaU27",
          "name": "Supabase Crystallux"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "clx12-cond-t03",
              "leftValue": "={{ $json.tool_name }}",
              "rightValue": "get_pipeline_stats",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "clx12-0030",
      "name": "IF get_pipeline_stats",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1300,
        500
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/pipeline_stats?order=snapshot_date.desc&limit=1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": ""
            }
          ]
        },
        "options": {}
      },
      "id": "clx12-0031",
      "name": "Execute Pipeline Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        260
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "pTFl5SIhensUaU27",
          "name": "Supabase Crystallux"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "clx12-cond-t04",
              "leftValue": "={{ $json.tool_name }}",
              "rightValue": "scan_city",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "clx12-0040",
      "name": "IF scan_city",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1520,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const input = $('Parse Request').item.json.tool_input;\n  return {\n    json: {\n      message: 'City scan queued. The CLX City Scan Discovery workflow will process ' + input.industry + ' in ' + input.city + ' on next scheduled run.',\n      city: input.city,\n      industry: input.industry,\n      product_type: input.product_type || ''\n    }\n  };\n} catch (error) {\n  return { json: { error: error.message } };\n}"
      },
      "id": "clx12-0041",
      "name": "Handle Scan City",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "clx12-cond-t05",
              "leftValue": "={{ $json.tool_name }}",
              "rightValue": "get_lead",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "clx12-0050",
      "name": "IF get_lead",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1740,
        500
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ (() => { const i = $('Parse Request').item.json.tool_input; if (i.lead_id) return 'https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/leads?id=eq.' + i.lead_id + '&select=*&limit=1'; if (i.email) return 'https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/leads?email=eq.' + encodeURIComponent(i.email) + '&select=*&limit=1'; return 'https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/leads?select=*&limit=1'; })() }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": ""
            }
          ]
        },
        "options": {}
      },
      "id": "clx12-0051",
      "name": "Execute Get Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1740,
        260
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "pTFl5SIhensUaU27",
          "name": "Supabase Crystallux"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "clx12-cond-t06",
              "leftValue": "={{ $json.tool_name }}",
              "rightValue": "list_leads",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "clx12-0060",
      "name": "IF list_leads",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1960,
        500
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ (() => { const i = $('Parse Request').item.json.tool_input; let url = 'https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/leads?select=id,full_name,email,company,industry,lead_status,lead_score,city'; if (i.lead_status) url += '&lead_status=eq.' + encodeURIComponent(i.lead_status); if (i.industry) url += '&industry=eq.' + encodeURIComponent(i.industry); url += '&limit=' + (i.limit || 20); return url; })() }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": ""
            }
          ]
        },
        "options": {}
      },
      "id": "clx12-0061",
      "name": "Execute List Leads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        260
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "pTFl5SIhensUaU27",
          "name": "Supabase Crystallux"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "clx12-cond-t07",
              "leftValue": "={{ $json.tool_name }}",
              "rightValue": "update_lead_status",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "clx12-0070",
      "name": "IF update_lead_status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2180,
        500
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/leads?id=eq.' + $('Parse Request').item.json.tool_input.lead_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": ""
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ lead_status: $('Parse Request').item.json.tool_input.lead_status, notes: $('Parse Request').item.json.tool_input.notes || '', updated_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "clx12-0071",
      "name": "Execute Update Lead Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2180,
        260
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "pTFl5SIhensUaU27",
          "name": "Supabase Crystallux"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "clx12-cond-t08",
              "leftValue": "={{ $json.tool_name }}",
              "rightValue": "check_system_health",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "clx12-0080",
      "name": "IF check_system_health",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2400,
        500
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/leads?select=lead_status",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": ""
            }
          ]
        },
        "options": {}
      },
      "id": "clx12-0081",
      "name": "Fetch System Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        260
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "pTFl5SIhensUaU27",
          "name": "Supabase Crystallux"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "try {\n  const allItems = $('Fetch System Health').all();\n  const leads = allItems.map(i => i.json);\n  const total = leads.length;\n  const counts = {};\n  for (const lead of leads) {\n    const s = lead.lead_status || 'Unknown';\n    counts[s] = (counts[s] || 0) + 1;\n  }\n  const active = (counts['Contacted'] || 0) + (counts['Replied'] || 0) + (counts['Booking Sent'] || 0);\n  return {\n    json: {\n      total_leads: total,\n      status_counts: counts,\n      active_conversations: active,\n      health: total > 0 ? 'operational' : 'empty',\n      checked_at: new Date().toISOString()\n    }\n  };\n} catch (error) {\n  return { json: { error: error.message, health: 'error' } };\n}"
      },
      "id": "clx12-0082",
      "name": "Analyze System Health",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        40
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "clx12-cond-t09",
              "leftValue": "={{ $json.tool_name }}",
              "rightValue": "check_pipeline_health",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "clx12-0090",
      "name": "IF check_pipeline_health",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2620,
        500
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/leads?select=id,lead_status,updated_at,full_name",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": ""
            }
          ]
        },
        "options": {}
      },
      "id": "clx12-0091",
      "name": "Fetch Pipeline Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2620,
        260
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "pTFl5SIhensUaU27",
          "name": "Supabase Crystallux"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "try {\n  const allItems = $('Fetch Pipeline Health').all();\n  const leads = allItems.map(i => i.json);\n  const now = Date.now();\n  const thresholds = {\n    'New Lead': 2 * 3600000,\n    'Researched': 2 * 3600000,\n    'Scored': 2 * 3600000,\n    'Campaign Assigned': 2 * 3600000,\n    'Outreach Ready': 24 * 3600000,\n    'Contacted': 30 * 24 * 3600000\n  };\n  const counts = {};\n  const stale = [];\n  for (const lead of leads) {\n    const s = lead.lead_status || 'Unknown';\n    counts[s] = (counts[s] || 0) + 1;\n    const threshold = thresholds[s];\n    if (threshold && lead.updated_at) {\n      const age = now - new Date(lead.updated_at).getTime();\n      if (age > threshold) {\n        stale.push({ id: lead.id, full_name: lead.full_name || '', status: s, hours_stale: Math.round(age / 3600000) });\n      }\n    }\n  }\n  return {\n    json: {\n      total_leads: leads.length,\n      stage_counts: counts,\n      stale_leads: stale,\n      stale_count: stale.length,\n      health: stale.length === 0 ? 'healthy' : 'needs_attention',\n      checked_at: new Date().toISOString()\n    }\n  };\n} catch (error) {\n  return { json: { error: error.message, health: 'error' } };\n}"
      },
      "id": "clx12-0092",
      "name": "Analyze Pipeline Health",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2620,
        40
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "clx12-cond-t10",
              "leftValue": "={{ $json.tool_name }}",
              "rightValue": "get_execution_stats",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "clx12-0100",
      "name": "IF get_execution_stats",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2840,
        500
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/mcp_tool_calls?created_at=gte.' + new Date(Date.now() - 86400000).toISOString() + '&select=tool_name,success,execution_time_ms,created_at&order=created_at.desc' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": ""
            }
          ]
        },
        "options": {}
      },
      "id": "clx12-0101",
      "name": "Fetch Execution Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2840,
        260
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "pTFl5SIhensUaU27",
          "name": "Supabase Crystallux"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "try {\n  const ctx = $('Parse Request').item.json;\n  const allItems = $input.all();\n  let data;\n  if (allItems.length === 1) {\n    data = allItems[0].json.result || allItems[0].json;\n  } else {\n    data = allItems.map(i => i.json);\n  }\n  return {\n    json: {\n      success: true,\n      tool: ctx.tool_name,\n      data: data,\n      timestamp: new Date().toISOString()\n    }\n  };\n} catch (error) {\n  return {\n    json: {\n      success: false,\n      tool: 'unknown',\n      error: error.message,\n      timestamp: new Date().toISOString()\n    }\n  };\n}"
      },
      "id": "clx12-0200",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3100,
        260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/mcp_tool_calls",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": ""
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tool_name: $('Format Response').item.json.tool, tool_input: $('Parse Request').item.json.tool_input, tool_output: $('Format Response').item.json.data, success: $('Format Response').item.json.success, execution_time_ms: 0 }) }}",
        "options": {}
      },
      "id": "clx12-0201",
      "name": "Log Tool Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3320,
        260
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "pTFl5SIhensUaU27",
          "name": "Supabase Crystallux"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($('Format Response').item.json) }}",
        "options": {}
      },
      "id": "clx12-0202",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        3540,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const ctx = $('Parse Request').item.json;\n  return {\n    json: {\n      success: false,\n      tool: ctx.tool_name || 'unknown',\n      error: ctx.error || 'Validation failed',\n      timestamp: new Date().toISOString()\n    }\n  };\n} catch (error) {\n  return { json: { success: false, tool: 'unknown', error: error.message, timestamp: new Date().toISOString() } };\n}"
      },
      "id": "clx12-0300",
      "name": "Format Validation Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        780
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($('Format Validation Error').item.json) }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "clx12-0301",
      "name": "Respond Validation Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1080,
        780
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const ctx = $('Parse Request').item.json;\n  return {\n    json: {\n      success: false,\n      tool: ctx.tool_name || 'unknown',\n      error: 'Unknown tool: ' + (ctx.tool_name || 'none') + '. This should not happen — check Parse Request validation.',\n      timestamp: new Date().toISOString()\n    }\n  };\n} catch (error) {\n  return { json: { success: false, tool: 'unknown', error: error.message, timestamp: new Date().toISOString() } };\n}"
      },
      "id": "clx12-0400",
      "name": "Format Default Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3060,
        500
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($('Format Default Error').item.json) }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "clx12-0401",
      "name": "Respond Default Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        3280,
        500
      ]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "crystallux-tools",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "clx12-0500",
      "name": "Tool Registry Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        200,
        1100
      ],
      "webhookId": "clx12-webhook-tool-registry"
    },
    {
      "parameters": {
        "jsCode": "try {\n  return {\n    json: {\n      tools: [\n        { name: 'research_lead', description: 'Get full lead record for research', inputSchema: { type: 'object', properties: { lead_id: { type: 'string', description: 'UUID of the lead' } }, required: ['lead_id'] } },\n        { name: 'score_lead', description: 'Get lead scoring data', inputSchema: { type: 'object', properties: { lead_id: { type: 'string', description: 'UUID of the lead' } }, required: ['lead_id'] } },\n        { name: 'get_pipeline_stats', description: 'Get latest pipeline statistics snapshot', inputSchema: { type: 'object', properties: {}, required: [] } },\n        { name: 'scan_city', description: 'Queue a city scan for business discovery', inputSchema: { type: 'object', properties: { city: { type: 'string', description: 'City name' }, industry: { type: 'string', description: 'Industry to search' }, product_type: { type: 'string', description: 'Product category' } }, required: ['city', 'industry'] } },\n        { name: 'get_lead', description: 'Get lead by ID or email', inputSchema: { type: 'object', properties: { lead_id: { type: 'string', description: 'UUID of the lead' }, email: { type: 'string', description: 'Email to look up' } }, required: [] } },\n        { name: 'list_leads', description: 'List leads with optional filters', inputSchema: { type: 'object', properties: { lead_status: { type: 'string', description: 'Filter by status' }, industry: { type: 'string', description: 'Filter by industry' }, limit: { type: 'number', description: 'Max results (default 20)' } }, required: [] } },\n        { name: 'update_lead_status', description: 'Update a lead status', inputSchema: { type: 'object', properties: { lead_id: { type: 'string', description: 'UUID of the lead' }, lead_status: { type: 'string', description: 'New status' }, notes: { type: 'string', description: 'Optional notes' } }, required: ['lead_id', 'lead_status'] } },\n        { name: 'check_system_health', description: 'Count leads by status and check system health', inputSchema: { type: 'object', properties: {}, required: [] } },\n        { name: 'check_pipeline_health', description: 'Analyze pipeline stages and flag stale leads', inputSchema: { type: 'object', properties: {}, required: [] } },\n        { name: 'get_execution_stats', description: 'Get MCP tool call stats from last 24 hours', inputSchema: { type: 'object', properties: {}, required: [] } }\n      ]\n    }\n  };\n} catch (error) {\n  return { json: { error: error.message } };\n}"
      },
      "id": "clx12-0501",
      "name": "Build Tool List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        1100
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($('Build Tool List').item.json) }}",
        "options": {}
      },
      "id": "clx12-0502",
      "name": "Return Tool List",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        640,
        1100
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Parse Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Request": {
      "main": [
        [
          {
            "node": "IF Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Valid": {
      "main": [
        [
          {
            "node": "IF research_lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF research_lead": {
      "main": [
        [
          {
            "node": "Execute Research Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF score_lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Research Lead": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF score_lead": {
      "main": [
        [
          {
            "node": "Execute Score Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF get_pipeline_stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Score Lead": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF get_pipeline_stats": {
      "main": [
        [
          {
            "node": "Execute Pipeline Stats",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF scan_city",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Pipeline Stats": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF scan_city": {
      "main": [
        [
          {
            "node": "Handle Scan City",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF get_lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Scan City": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF get_lead": {
      "main": [
        [
          {
            "node": "Execute Get Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF list_leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Get Lead": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF list_leads": {
      "main": [
        [
          {
            "node": "Execute List Leads",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF update_lead_status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute List Leads": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF update_lead_status": {
      "main": [
        [
          {
            "node": "Execute Update Lead Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF check_system_health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Update Lead Status": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF check_system_health": {
      "main": [
        [
          {
            "node": "Fetch System Health",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF check_pipeline_health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch System Health": {
      "main": [
        [
          {
            "node": "Analyze System Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze System Health": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF check_pipeline_health": {
      "main": [
        [
          {
            "node": "Fetch Pipeline Health",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF get_execution_stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Pipeline Health": {
      "main": [
        [
          {
            "node": "Analyze Pipeline Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Pipeline Health": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF get_execution_stats": {
      "main": [
        [
          {
            "node": "Fetch Execution Stats",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Default Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Execution Stats": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Log Tool Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Tool Call": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Validation Error": {
      "main": [
        [
          {
            "node": "Respond Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Default Error": {
      "main": [
        [
          {
            "node": "Respond Default Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool Registry Webhook": {
      "main": [
        [
          {
            "node": "Build Tool List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Tool List": {
      "main": [
        [
          {
            "node": "Return Tool List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "clx-mcp-gateway-v103",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "3f3f6370fc2e867943491172b687727f653843d554f7415f38ca14c384f12f38"
  },
  "id": "clx-mcp-tool-gateway",
  "tags": []
}
