workflows/api/avatars/clx-avatar-list-v1.json
{
  "id": "clxAvatarListV1",
  "name": "CLX - Avatar List v1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "avatars/list",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "al-0001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        200,
        400
      ],
      "webhookId": "clx-avatar-list-001"
    },
    {
      "parameters": {
        "jsCode": "const headers = $input.item.json.headers || {};\nconst auth    = headers['authorization'] || headers['Authorization'] || '';\nconst token   = auth.toLowerCase().startsWith('bearer ') ? auth.slice(7).trim() : '';\nif (!token) return { json: { _unauthorized: true, status: 401, error: 'Missing session token' } };\nreturn { json: { token } };"
      },
      "id": "al-0002",
      "name": "Extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json._unauthorized }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "al-0003",
      "name": "IF Bad",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        620,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/rpc/validate_session",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"p_token\": \"{{ $json.token }}\" }",
        "options": {}
      },
      "id": "al-0004",
      "name": "Validate Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        820,
        400
      ],
      "credentials": {
        "httpCustomAuth": {
          "name": "Supabase Crystallux Custom"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.item.json;\nconst row  = Array.isArray(rows) ? (rows[0] || null) : (rows && (rows.user_id || rows.id) ? rows : null);\nif (!row) return { json: { _unauthorized: true, status: 401, error: 'Invalid session' } };\nif (row.user_role !== 'admin') return { json: { _unauthorized: true, status: 403, error: 'Admin role required' } };\nreturn { json: { _ok: true, user_id: row.user_id } };"
      },
      "id": "al-0005",
      "name": "Check Role",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json._ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "al-0006",
      "name": "IF OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1260,
        400
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/avatars?select=*&order=avatar_name.asc",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "al-0007",
      "name": "Query Avatars",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1480,
        320
      ],
      "credentials": {
        "httpCustomAuth": {
          "name": "Supabase Crystallux Custom"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.item.json;\nconst rows = Array.isArray(raw) ? raw : [];\nreturn { json: { ok: true, data: { avatars: rows, count: rows.length } } };"
      },
      "id": "al-0008",
      "name": "Shape Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1700,
        320
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "al-0009",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1920,
        320
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: false, error: $json.error || 'Unauthorized' }) }}",
        "options": {
          "responseCode": "={{ $json.status || 401 }}"
        }
      },
      "id": "al-0010",
      "name": "Respond 4xx",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        820,
        580
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract": {
      "main": [
        [
          {
            "node": "IF Bad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Bad": {
      "main": [
        [
          {
            "node": "Respond 4xx",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validate Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Session": {
      "main": [
        [
          {
            "node": "Check Role",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Role": {
      "main": [
        [
          {
            "node": "IF OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF OK": {
      "main": [
        [
          {
            "node": "Query Avatars",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 4xx",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Avatars": {
      "main": [
        [
          {
            "node": "Shape Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shape Response": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
