workflows/live-snapshot-2026-05-02/F3JCg7GNJOAilpN6.json
[{"updatedAt":"2026-04-16T04:30:34.295Z","createdAt":"2026-04-16T04:28:55.575Z","id":"F3JCg7GNJOAilpN6","name":"CLX - Lead Scoring v2","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"id":"443bfe4d-ec0d-41b1-9cfe-0ea0ed526d5a","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0]},{"parameters":{"url":"https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/leads?lead_status=eq.Researched&select=id,full_name,company,industry,job_title,city,product_type,research_summary,likely_business_need,research_angle&limit=25","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"c92966b6-8314-407e-8806-bef6de8611ff","name":"Get Researched Leads","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,0],"credentials":{"httpHeaderAuth":{"id":"pTFl5SIhensUaU27","name":"Supabase Crystallux"}},"continueOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"clx03-cond-string-not-empty-001","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"4f76e53a-8ef4-430e-a088-17b01a02579c","name":"IF Leads Found","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[480,0]},{"parameters":{"options":{}},"id":"c62bfed8-7b9c-4579-aff0-e071ef84546f","name":"Split In Batches","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[720,0]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: \"claude-haiku-4-5-20251001\", max_tokens: 512, messages: [{ role: \"user\", content: \"You are a B2B lead scoring analyst for the Crystallux AI Sales Engine.\\n\\nScore this lead based on the information provided.\\n\\nCompany: \" + $json.company + \"\\nIndustry: \" + $json.industry + \"\\nJob Title: \" + $json.job_title + \"\\nCity: \" + $json.city + \"\\nProduct Type: \" + $json.product_type + \"\\nResearch Summary: \" + $json.research_summary + \"\\nLikely Business Need: \" + $json.likely_business_need + \"\\nResearch Angle: \" + $json.research_angle + \"\\n\\nScoring criteria:\\n- Industry relevance to AI automation and sales systems (0-25 points)\\n- Job title seniority and decision making authority (0-25 points)\\n- Company size and revenue potential signals (0-25 points)\\n- Urgency and business need strength (0-25 points)\\n\\nReturn ONLY this exact JSON structure with no explanation, no markdown, no code blocks:\\n{\\\"lead_score\\\": number between 0 and 100, \\\"priority_level\\\": \\\"High\\\" or \\\"Medium\\\" or \\\"Low\\\", \\\"decision_maker_probability\\\": \\\"High\\\" or \\\"Medium\\\" or \\\"Low\\\", \\\"company_size_estimate\\\": \\\"Enterprise\\\" or \\\"Mid-Market\\\" or \\\"SMB\\\" or \\\"Micro\\\", \\\"scoring_reason\\\": \\\"one sentence explaining the score\\\"}\" }] }) }}","options":{}},"id":"4a634ca1-59c5-4dd0-9048-4df6211cb8fa","name":"Claude Score Lead","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1072,0],"credentials":{"httpHeaderAuth":{"id":"5GbgZmWqc8ruTO2H","name":"Claude Anthropic"}},"continueOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// CLX Lead Scoring v2 — Parse Scoring Response\n\nconst response = $input.item.json;\nconst lead = $('Split In Batches').first().json;\n\nconst rawText = (response && response.content && response.content[0] && response.content[0].text) || '';\n\nlet scoring;\ntry {\n  const cleaned = rawText.replace(/```json/gi, '').replace(/```/g, '').trim();\n  scoring = JSON.parse(cleaned);\n} catch (e) {\n  scoring = {\n    lead_score: 0,\n    priority_level: 'Low',\n    decision_maker_probability: 'Low',\n    company_size_estimate: 'SMB',\n    scoring_reason: 'Manual review needed — AI parse error: ' + e.message\n  };\n}\n\nconst now = new Date().toISOString();\n\nreturn {\n  json: {\n    id: lead.id,\n    lead_score: typeof scoring.lead_score === 'number' ? scoring.lead_score : 0,\n    priority_level: scoring.priority_level || 'Low',\n    decision_maker_probability: scoring.decision_maker_probability || 'Low',\n    company_size_estimate: scoring.company_size_estimate || 'SMB',\n    scoring_reason: scoring.scoring_reason || '',\n    lead_status: 'Scored',\n    updated_at: now\n  }\n};"},"id":"bdffaac1-b345-4bbc-be7c-1665f64118a3","name":"Parse Scoring Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1312,-16]},{"parameters":{},"id":"4bd59163-08d0-40e6-9816-f8fd1d93569c","name":"No Researched Leads","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[480,208]},{"parameters":{"amount":3},"id":"ae0f54db-3bd0-4c75-9428-56e35f546f0d","name":"Wait 3s","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[928,0],"webhookId":"clx-ls-v2-wait-001-webhook"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// CLX Lead Scoring v2 — Prep Update Score\n\nconst item = $input.item.json;\n\nconst body = {\n  p_lead_id: item.id,\n  p_fields: {\n    lead_score: item.lead_score,\n    priority_level: item.priority_level,\n    decision_maker_probability: item.decision_maker_probability,\n    company_size_estimate: item.company_size_estimate,\n    scoring_reason: item.scoring_reason,\n    lead_status: 'Scored'\n  }\n};\n\nconsole.log('PREP UPDATE:', JSON.stringify({ lead_id: item.id, status: body.p_fields.lead_status, score: item.lead_score }));\n\nreturn { json: { ...item, rpc_body: JSON.stringify(body) } };"},"id":"6d98bfb2-b69c-402d-9662-3f64a48fc246","name":"Prep Update Score","type":"n8n-nodes-base.code","typeVersion":2,"position":[1680,0]},{"parameters":{"method":"POST","url":"https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/rpc/update_lead","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.rpc_body }}","options":{}},"id":"61adfeef-72c8-4d37-8967-12db4573f40d","name":"RPC Update Score","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1920,0],"credentials":{"httpHeaderAuth":{"id":"pTFl5SIhensUaU27","name":"Supabase Crystallux"}},"continueOnFail":true,"onError":"continueRegularOutput"},{"parameters":{},"id":"55881b6b-d1f8-4c2e-a2c3-7cca74ecd4de","name":"Run Summary","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[976,-112]}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get Researched Leads","type":"main","index":0}]]},"Get Researched Leads":{"main":[[{"node":"IF Leads Found","type":"main","index":0}]]},"IF Leads Found":{"main":[[{"node":"Split In Batches","type":"main","index":0}],[{"node":"No Researched Leads","type":"main","index":0}]]},"Split In Batches":{"main":[[{"node":"Run Summary","type":"main","index":0}],[{"node":"Wait 3s","type":"main","index":0}]]},"Claude Score Lead":{"main":[[{"node":"Parse Scoring Response","type":"main","index":0}]]},"Parse Scoring Response":{"main":[[{"node":"Prep Update Score","type":"main","index":0}]]},"Wait 3s":{"main":[[{"node":"Claude Score Lead","type":"main","index":0}]]},"Prep Update Score":{"main":[[{"node":"RPC Update Score","type":"main","index":0}]]},"RPC Update Score":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"30ecd5a9-cc98-480f-8dc3-dd968ffe5aa2","activeVersionId":"30ecd5a9-cc98-480f-8dc3-dd968ffe5aa2","versionCounter":16,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-04-16T04:28:55.581Z","createdAt":"2026-04-16T04:28:55.581Z","role":"workflow:owner","workflowId":"F3JCg7GNJOAilpN6","projectId":"9SJVZ4W5OctkYMLZ","project":{"updatedAt":"2026-04-14T04:50:52.551Z","createdAt":"2026-03-04T04:05:21.112Z","id":"9SJVZ4W5OctkYMLZ","name":"Mary info@crystallux.org <info@crystallux.org>","type":"personal","icon":null,"description":null,"creatorId":"d6d7f470-b1d5-42e5-8a0d-1c4f34f79d11"}}],"versionMetadata":{"name":"CLX - Lead Scoring v2.0","description":"AI-powered lead scoring using Claude Haiku. Takes \"Researched\" leads, generates lead_score (0-100), priority_level, decision_maker_probability, company_size_estimate, scoring_reason. Updates status to \"Scored\". Processes 25 leads every 15 minutes. Uses RPC update_lead with Prep+RPC pattern. v2.0 — April 2026."}}]