workflows/api/auth/clx-auth-magic-link.json
{
  "id": "clxAuthMagicLinkV1",
  "name": "CLX - Auth Magic Link v1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "auth/magic-link",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "auth-ml-0001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [200, 300],
      "webhookId": "clx-auth-magic-link-001"
    },
    {
      "parameters": {
        "jsCode": "// Issue magic-link token regardless of whether the email maps to a\n// real user (do not leak existence). The verify webhook is where\n// existence is enforced. Token: 32-byte base64url (43 chars).\nconst body = $input.item.json.body || {};\nconst email = String(body.email || '').trim().toLowerCase();\nif (!/^[^@\\s]+@[^@\\s]+\\.[^@\\s]+$/.test(email)) {\n  return { json: { ok: false, status: 400, error: 'valid email required' } };\n}\nconst crypto = require('crypto');\nconst token = crypto.randomBytes(32).toString('base64url');\nconst expires_at = new Date(Date.now() + 15 * 60 * 1000).toISOString();\nreturn { json: { ok: true, email, token, expires_at } };",
        "mode": "runOnceForEachItem"
      },
      "id": "auth-ml-0002",
      "name": "Mint Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict", "version": 2 },
          "conditions": [
            { "id": "c1", "leftValue": "={{ $json.ok }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }
          ],
          "combinator": "and"
        }
      },
      "id": "auth-ml-0003",
      "name": "IF Email OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/auth_magic_links",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"email\": \"{{ $json.email }}\", \"token\": \"{{ $json.token }}\", \"expires_at\": \"{{ $json.expires_at }}\", \"ip_address\": \"{{ $('Webhook').first().json.headers['cf-connecting-ip'] || $('Webhook').first().json.headers['x-forwarded-for'] || null }}\" }",
        "options": {}
      },
      "id": "auth-ml-0004",
      "name": "Insert Magic Link",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 200],
      "credentials": { "httpCustomAuth": { "name": "Supabase Crystallux Custom" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.postmarkapp.com/email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/json" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "X-Postmark-Server-Token", "value": "={{ $env.POSTMARK_API_TOKEN }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ From: 'info@crystallux.org', To: $('Mint Token').item.json.email, Subject: 'Your Crystallux sign-in link', HtmlBody: '<div style=\"font-family:Arial,Helvetica,sans-serif;font-size:15px;color:#0f172a;line-height:1.6;max-width:560px\"><p>Click below to sign in (the link is valid for 15 minutes):</p><p style=\"margin:26px 0\"><a href=\"https://crystallux.org/auth/magic-link-verify.html?token=' + encodeURIComponent($('Mint Token').item.json.token) + '\" style=\"display:inline-block;background:#7C3AED;color:#fff;font-weight:700;font-size:15px;padding:14px 32px;border-radius:10px;text-decoration:none\">Sign in &#8594;</a></p><p style=\"font-size:13px;color:#64748b\">Or paste this link into your browser:<br>https://crystallux.org/auth/magic-link-verify.html?token=' + encodeURIComponent($('Mint Token').item.json.token) + '</p><p style=\"font-size:13px;color:#94a3b8;margin-top:20px\">If you did not request this, you can safely ignore this email.</p></div>', TextBody: 'Sign in to Crystallux (valid 15 min):\\n\\nhttps://crystallux.org/auth/magic-link-verify.html?token=' + encodeURIComponent($('Mint Token').item.json.token) + '\\n\\nIf you did not request this, ignore this email.', MessageStream: 'outbound' }) }}",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "auth-ml-0005",
      "name": "Send Magic Link Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, message: 'If that email is associated with an account, a sign-in link has been sent.' }) }}",
        "options": { "responseCode": 200 }
      },
      "id": "auth-ml-0006",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1360, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: false, error: $json.error || 'Bad request' }) }}",
        "options": { "responseCode": "={{ $json.status || 400 }}" }
      },
      "id": "auth-ml-0007",
      "name": "Respond 4xx",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [880, 400]
    }
  ],
  "connections": {
    "Webhook":                  { "main": [[ { "node": "Mint Token",                "type": "main", "index": 0 } ]] },
    "Mint Token":               { "main": [[ { "node": "IF Email OK",               "type": "main", "index": 0 } ]] },
    "IF Email OK":              { "main": [
                                           [ { "node": "Insert Magic Link",         "type": "main", "index": 0 } ],
                                           [ { "node": "Respond 4xx",               "type": "main", "index": 0 } ]
                                         ] },
    "Insert Magic Link":        { "main": [[ { "node": "Send Magic Link Email",      "type": "main", "index": 0 } ]] },
    "Send Magic Link Email":    { "main": [[ { "node": "Respond OK",                "type": "main", "index": 0 } ]] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false
}
