workflows/api/auth/clx-auth-password-reset-request.json
{
  "id": "clxAuthPasswordResetRequestV1",
  "name": "CLX - Auth Password Reset Request v1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "auth/password-reset-request",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "auth-prr-0001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [200, 300],
      "webhookId": "clx-auth-password-reset-request-001"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body || {};\nconst email = String(body.email || '').trim().toLowerCase();\nif (!/^[^@\\s]+@[^@\\s]+\\.[^@\\s]+$/.test(email)) {\n  return { json: { ok: false, status: 400, error: 'valid email required' } };\n}\nreturn { json: { email } };",
        "mode": "runOnceForEachItem"
      },
      "id": "auth-prr-0002",
      "name": "Validate Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/auth_users?email=eq.' + encodeURIComponent($json.email) + '&select=id,email&limit=1' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Accept", "value": "application/json" } ] },
        "options": {}
      },
      "id": "auth-prr-0003",
      "name": "Lookup User",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 300],
      "credentials": { "httpCustomAuth": { "name": "Supabase Crystallux Custom" } },
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Always respond 200 to avoid leaking which emails have accounts.\n// Only insert + 'send email' when the user exists.\nconst raw = $input.item.json;\n// Defensive: array OR auto-unwrapped single object. See clx-auth-login note.\nconst user = Array.isArray(raw) ? (raw[0] || null) : (raw && raw.id ? raw : null);\nif (!user) return { json: { send: false } };\nconst crypto = require('crypto');\nconst token = crypto.randomBytes(32).toString('base64url');\nconst expires_at = new Date(Date.now() + 60 * 60 * 1000).toISOString();\nreturn { json: { send: true, user_id: user.id, email: user.email, token, expires_at } };",
        "mode": "runOnceForEachItem"
      },
      "id": "auth-prr-0004",
      "name": "Mint Reset Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict", "version": 2 },
          "conditions": [
            { "id": "c1", "leftValue": "={{ $json.send }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }
          ],
          "combinator": "and"
        }
      },
      "id": "auth-prr-0005",
      "name": "IF Send",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/auth_password_resets",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"user_id\": \"{{ $json.user_id }}\", \"token\": \"{{ $json.token }}\", \"expires_at\": \"{{ $json.expires_at }}\", \"ip_address\": \"{{ $('Webhook').first().json.headers['cf-connecting-ip'] || $('Webhook').first().json.headers['x-forwarded-for'] || null }}\" }",
        "options": {}
      },
      "id": "auth-prr-0006",
      "name": "Insert Reset Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 200],
      "credentials": { "httpCustomAuth": { "name": "Supabase Crystallux Custom" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.postmarkapp.com/email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/json" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "X-Postmark-Server-Token", "value": "={{ $env.POSTMARK_API_TOKEN }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ From: 'info@crystallux.org', To: $('Mint Reset Token').item.json.email, Subject: 'Set your Crystallux password', HtmlBody: '<div style=\"font-family:Arial,Helvetica,sans-serif;font-size:15px;color:#0f172a;line-height:1.6;max-width:560px\"><p>Click below to set your password (the link is valid for 1 hour):</p><p style=\"margin:26px 0\"><a href=\"https://crystallux.org/reset-password.html?token=' + encodeURIComponent($('Mint Reset Token').item.json.token) + '\" style=\"display:inline-block;background:#7C3AED;color:#fff;font-weight:700;font-size:15px;padding:14px 32px;border-radius:10px;text-decoration:none\">Set my password &#8594;</a></p><p style=\"font-size:13px;color:#64748b\">Or paste this link into your browser:<br>https://crystallux.org/reset-password.html?token=' + encodeURIComponent($('Mint Reset Token').item.json.token) + '</p><p style=\"font-size:13px;color:#94a3b8;margin-top:20px\">If you did not request this, you can safely ignore this email.</p></div>', TextBody: 'Set your Crystallux password (valid 1 hour):\\n\\nhttps://crystallux.org/reset-password.html?token=' + encodeURIComponent($('Mint Reset Token').item.json.token) + '\\n\\nIf you did not request this, ignore this email.', MessageStream: 'outbound' }) }}",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "auth-prr-0007",
      "name": "Send Reset Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1580, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, message: 'If that email is associated with an account, a reset link has been sent.' }) }}",
        "options": { "responseCode": 200 }
      },
      "id": "auth-prr-0008",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1820, 300]
    }
  ],
  "connections": {
    "Webhook":                  { "main": [[ { "node": "Validate Email",            "type": "main", "index": 0 } ]] },
    "Validate Email":           { "main": [[ { "node": "Lookup User",                "type": "main", "index": 0 } ]] },
    "Lookup User":              { "main": [[ { "node": "Mint Reset Token",           "type": "main", "index": 0 } ]] },
    "Mint Reset Token":         { "main": [[ { "node": "IF Send",                    "type": "main", "index": 0 } ]] },
    "IF Send":                  { "main": [
                                           [ { "node": "Insert Reset Token",         "type": "main", "index": 0 } ],
                                           [ { "node": "Respond OK",                 "type": "main", "index": 0 } ]
                                         ] },
    "Insert Reset Token":       { "main": [[ { "node": "Send Reset Email",            "type": "main", "index": 0 } ]] },
    "Send Reset Email":         { "main": [[ { "node": "Respond OK",                 "type": "main", "index": 0 } ]] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false
}
