workflows/api/client/clx-client-replies.json
{
  "name": "CLX - Client Replies v1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "client/replies",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "cli-rp-0001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [200, 300],
      "webhookId": "clx-client-replies-001"
    },
    {
      "parameters": {
        "jsCode": "const headers = $input.item.json.headers || {};\nconst body = $input.item.json.body || {};\nconst auth = headers['authorization'] || headers['Authorization'] || '';\nconst token = auth.toLowerCase().startsWith('bearer ') ? auth.slice(7).trim() : '';\nif (!token) return { json: { ok: false, status: 401, error: 'Missing session token' } };\nconst f = body.filters || {};\nconst limit = Math.min(Math.max(parseInt(f.limit, 10) || 30, 1), 200);\nreturn { json: { token, limit } };",
        "mode": "runOnceForEachItem"
      },
      "id": "cli-rp-0002",
      "name": "Extract Inputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/rpc/validate_session",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Content-Type", "value": "application/json" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"p_token\": \"{{ $json.token }}\" }",
        "options": {}
      },
      "id": "cli-rp-0003",
      "name": "Validate Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 300],
      "credentials": { "httpCustomAuth": { "name": "Supabase Crystallux Custom" } }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.item.json;\nconst row = Array.isArray(rows) && rows[0] ? rows[0] : null;\nconst inputs = $('Extract Inputs').item.json;\nif (!row) return { json: { ok: false, status: 401, error: 'Invalid or expired session' } };\nif (row.user_role !== 'client' && row.user_role !== 'team_member') return { json: { ok: false, status: 403, error: 'Client access required' } };\nif (!row.client_id) return { json: { ok: false, status: 403, error: 'No client mapped to session' } };\n// Replies are leads in 'Replied' state. Surfacing those rows keeps\n// the data model simple and avoids a separate replies table.\nconst qs = 'client_id=eq.' + encodeURIComponent(row.client_id)\n         + '&lead_status=eq.Replied'\n         + '&select=id,company,email,email_subject,lead_status,outreach_sent_at,updated_at'\n         + '&order=updated_at.desc&limit=' + inputs.limit;\nreturn { json: { ok: true, qs } };",
        "mode": "runOnceForEachItem"
      },
      "id": "cli-rp-0004",
      "name": "Build Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict", "version": 2 },
          "conditions": [
            { "id": "c1", "leftValue": "={{ $json.ok }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }
          ],
          "combinator": "and"
        }
      },
      "id": "cli-rp-0005",
      "name": "IF Client OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/leads?' + $json.qs }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Accept", "value": "application/json" } ] },
        "options": {}
      },
      "id": "cli-rp-0006",
      "name": "Query Replies",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 220],
      "credentials": { "httpCustomAuth": { "name": "Supabase Crystallux Custom" } }
    },
    {
      "parameters": {
        "jsCode": "const rows = Array.isArray($input.item.json) ? $input.item.json : [];\n// Map updated_at to replied_at so the UI can show a stable column.\nrows.forEach(r => { r.replied_at = r.updated_at; });\nreturn { json: { ok: true, replies: rows } };",
        "mode": "runOnceForEachItem"
      },
      "id": "cli-rp-0007",
      "name": "Shape Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1580, 220]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": { "responseCode": 200 }
      },
      "id": "cli-rp-0008",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1820, 220]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: false, error: $json.error || 'Unauthorized' }) }}",
        "options": { "responseCode": "={{ $json.status || 401 }}" }
      },
      "id": "cli-rp-0009",
      "name": "Respond 4xx",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1340, 420]
    }
  ],
  "connections": {
    "Webhook":          { "main": [[ { "node": "Extract Inputs",  "type": "main", "index": 0 } ]] },
    "Extract Inputs":   { "main": [[ { "node": "Validate Session","type": "main", "index": 0 } ]] },
    "Validate Session": { "main": [[ { "node": "Build Query",     "type": "main", "index": 0 } ]] },
    "Build Query":      { "main": [[ { "node": "IF Client OK",    "type": "main", "index": 0 } ]] },
    "IF Client OK":     { "main": [
                                   [ { "node": "Query Replies",   "type": "main", "index": 0 } ],
                                   [ { "node": "Respond 4xx",     "type": "main", "index": 0 } ]
                                 ] },
    "Query Replies":    { "main": [[ { "node": "Shape Response",  "type": "main", "index": 0 } ]] },
    "Shape Response":   { "main": [[ { "node": "Respond OK",      "type": "main", "index": 0 } ]] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false
}
