workflows/api/client/clx-client-bookings.json
{
  "name": "CLX - Client Bookings v1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "client/bookings",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "cli-bk-0001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [200, 300],
      "webhookId": "clx-client-bookings-001"
    },
    {
      "parameters": {
        "jsCode": "const headers = $input.item.json.headers || {};\nconst body = $input.item.json.body || {};\nconst auth = headers['authorization'] || headers['Authorization'] || '';\nconst token = auth.toLowerCase().startsWith('bearer ') ? auth.slice(7).trim() : '';\nif (!token) return { json: { ok: false, status: 401, error: 'Missing session token' } };\nconst f = body.filters || {};\nconst limit = Math.min(Math.max(parseInt(f.limit, 10) || 30, 1), 200);\nconst upcoming = !!f.upcoming;\nreturn { json: { token, limit, upcoming } };",
        "mode": "runOnceForEachItem"
      },
      "id": "cli-bk-0002",
      "name": "Extract Inputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/rpc/validate_session",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Content-Type", "value": "application/json" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"p_token\": \"{{ $json.token }}\" }",
        "options": {}
      },
      "id": "cli-bk-0003",
      "name": "Validate Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 300],
      "credentials": { "httpHeaderAuth": { "name": "Supabase Crystallux" } }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.item.json;\nconst row = Array.isArray(rows) && rows[0] ? rows[0] : null;\nconst inputs = $('Extract Inputs').item.json;\nif (!row) return { json: { ok: false, status: 401, error: 'Invalid or expired session' } };\nif (row.user_role !== 'client' && row.user_role !== 'team_member') return { json: { ok: false, status: 403, error: 'Client access required' } };\nif (!row.client_id) return { json: { ok: false, status: 403, error: 'No client mapped to session' } };\nlet qs = 'client_id=eq.' + encodeURIComponent(row.client_id)\n       + '&select=id,company,attendee_name,event_type,scheduled_start,scheduled_end,outcome,no_show_flag,created_at'\n       + '&order=scheduled_start.asc&limit=' + inputs.limit;\nif (inputs.upcoming) qs += '&scheduled_start=gte.' + encodeURIComponent(new Date().toISOString());\nreturn { json: { ok: true, qs } };",
        "mode": "runOnceForEachItem"
      },
      "id": "cli-bk-0004",
      "name": "Build Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict", "version": 2 },
          "conditions": [
            { "id": "c1", "leftValue": "={{ $json.ok }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }
          ],
          "combinator": "and"
        }
      },
      "id": "cli-bk-0005",
      "name": "IF Client OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/appointment_log?' + $json.qs }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Accept", "value": "application/json" } ] },
        "options": {}
      },
      "id": "cli-bk-0006",
      "name": "Query Bookings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 220],
      "credentials": { "httpHeaderAuth": { "name": "Supabase Crystallux" } },
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, bookings: Array.isArray($json) ? $json : [] } }}",
        "options": { "responseCode": 200 }
      },
      "id": "cli-bk-0007",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1580, 220]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: false, error: $json.error || 'Unauthorized' } }}",
        "options": { "responseCode": "={{ $json.status || 401 }}" }
      },
      "id": "cli-bk-0008",
      "name": "Respond 4xx",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1340, 420]
    }
  ],
  "connections": {
    "Webhook":          { "main": [[ { "node": "Extract Inputs",  "type": "main", "index": 0 } ]] },
    "Extract Inputs":   { "main": [[ { "node": "Validate Session","type": "main", "index": 0 } ]] },
    "Validate Session": { "main": [[ { "node": "Build Query",     "type": "main", "index": 0 } ]] },
    "Build Query":      { "main": [[ { "node": "IF Client OK",    "type": "main", "index": 0 } ]] },
    "IF Client OK":     { "main": [
                                   [ { "node": "Query Bookings",  "type": "main", "index": 0 } ],
                                   [ { "node": "Respond 4xx",     "type": "main", "index": 0 } ]
                                 ] },
    "Query Bookings":   { "main": [[ { "node": "Respond OK",      "type": "main", "index": 0 } ]] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false
}
