workflows/api/sentinel/clx-sentinel-alert-router-v1.json
{
  "id": "clxSentinelAlertRouterV1",
  "name": "CLX - Sentinel Alert Router v1",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "api/sentinel/alert", "responseMode": "responseNode", "options": {} },
      "id": "sar-0001", "name": "Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 1.1, "position": [200, 400],
      "webhookId": "clx-sentinel-alert-router-001",
      "notes": "DEACTIVATED. Universal Sentinel alert router. Called by every Sentinel module + by external integrations. Auth: MARY_MASTER_TOKEN OR session-token (admin only). De-dupes by aggregation_key within a 1-hour window. Routes by severity (email/SMS/Slack — currently email only)."
    },
    {
      "parameters": {
        "jsCode": "const headers = $input.item.json.headers || {};\nconst body = $input.item.json.body || {};\nconst auth = headers['authorization'] || headers['Authorization'] || '';\nconst token = auth.toLowerCase().startsWith('bearer ') ? auth.slice(7).trim() : '';\nconst master = $env.MARY_MASTER_TOKEN || '';\nif (!token && !(body.master_token && body.master_token === master)) return { json: { _unauthorized: true, status: 401 } };\nfor (const k of ['module_name','alert_type','severity','title']) { if (!body[k]) return { json: { _empty: true, status: 400, error: 'Missing ' + k } }; }\nconst allowed = ['info','warning','critical','emergency'];\nif (allowed.indexOf(body.severity) === -1) return { json: { _empty: true, status: 400, error: 'severity must be one of: ' + allowed.join(',') } };\nreturn { json: { body } };",
        "mode": "runOnceForEachItem"
      },
      "id": "sar-0002", "name": "Extract", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [420, 400]
    },
    { "parameters": { "conditions": { "options": { "caseSensitive": true, "typeValidation": "strict", "version": 2 }, "conditions": [ { "id": "c1", "leftValue": "={{ $json._unauthorized || $json._empty }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } } ], "combinator": "and" } }, "id": "sar-0003", "name": "IF Bad", "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [640, 400] },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/sentinel_alerts?status=eq.open&triggered_at=gte.' + new Date(Date.now() - 3600000).toISOString() + ($json.body.aggregation_key ? '&aggregation_key=eq.' + encodeURIComponent($json.body.aggregation_key) : '&aggregation_key=is.null') + '&select=id&limit=1' }}",
        "authentication": "genericCredentialType", "genericAuthType": "httpCustomAuth",
        "sendHeaders": true, "headerParameters": { "parameters": [ { "name": "Accept", "value": "application/json" } ] },
        "options": { "continueOnFail": true }
      },
      "id": "sar-0004", "name": "Check Dedup", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [880, 320],
      "credentials": { "httpCustomAuth": { "name": "Supabase Crystallux Custom" } }
    },
    {
      "parameters": {
        "jsCode": "const existing = Array.isArray($input.item.json) ? $input.item.json : [];\nconst body = $('Extract').first().json.body;\nif (existing.length > 0 && body.aggregation_key) return { json: { _dedup: true, status: 200, existing_alert_id: existing[0].id } };\nconst payload = { module_name: body.module_name, alert_type: body.alert_type, severity: body.severity, title: body.title, message: body.message || null, details: body.details || {}, aggregation_key: body.aggregation_key || null };\nreturn { json: { payload } };",
        "mode": "runOnceForEachItem"
      },
      "id": "sar-0005", "name": "Plan Insert", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1120, 320]
    },
    { "parameters": { "conditions": { "options": { "caseSensitive": true, "typeValidation": "strict", "version": 2 }, "conditions": [ { "id": "c1", "leftValue": "={{ $json._dedup }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } } ], "combinator": "and" } }, "id": "sar-0006", "name": "IF Dedup", "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [1360, 320] },
    {
      "parameters": {
        "method": "POST", "url": "https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/sentinel_alerts",
        "authentication": "genericCredentialType", "genericAuthType": "httpCustomAuth",
        "sendHeaders": true, "headerParameters": { "parameters": [ { "name": "Content-Type", "value": "application/json" }, { "name": "Prefer", "value": "return=representation" } ] },
        "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify($json.payload) }}",
        "options": {}
      },
      "id": "sar-0007", "name": "Insert Alert", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1600, 240],
      "credentials": { "httpCustomAuth": { "name": "Supabase Crystallux Custom" } }
    },
    {
      "parameters": {
        "method": "POST", "url": "https://api.postmarkapp.com/email",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "Accept", "value": "application/json" },
          { "name": "Content-Type", "value": "application/json" },
          { "name": "X-Postmark-Server-Token", "value": "={{ $env.POSTMARK_SERVER_TOKEN }}" }
        ] },
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={ \"From\": \"sentinel@crystallux.org\", \"To\": \"info@crystallux.org\", \"Subject\": \"[Sentinel {{ ($('Extract').first().json.body.severity || 'info').toUpperCase() }}] {{ $('Extract').first().json.body.title }}\", \"TextBody\": \"Module: {{ $('Extract').first().json.body.module_name }}\\nSeverity: {{ $('Extract').first().json.body.severity }}\\nType: {{ $('Extract').first().json.body.alert_type }}\\n\\n{{ $('Extract').first().json.body.message || '' }}\\n\\nDetails:\\n{{ JSON.stringify($('Extract').first().json.body.details || {}) }}\\n\\nAcknowledge at: https://admin.crystallux.org/pages/sentinel.html\" }",
        "options": { "continueOnFail": true, "timeout": 8000 }
      },
      "id": "sar-0008", "name": "Notify (Postmark)", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1840, 240]
    },
    {
      "parameters": {
        "jsCode": "const rows = $('Insert Alert').first().json;\nconst row = Array.isArray(rows) ? rows[0] : rows;\nreturn { json: { ok: true, alert: row, deduped: false } };",
        "mode": "runOnceForAllItems"
      },
      "id": "sar-0009", "name": "Shape Response", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2080, 240]
    },
    {
      "parameters": {
        "jsCode": "return { json: { ok: true, deduped: true, existing_alert_id: $('Plan Insert').first().json.existing_alert_id } };",
        "mode": "runOnceForAllItems"
      },
      "id": "sar-0010", "name": "Shape Dedup", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1600, 480]
    },
    { "parameters": { "respondWith": "json", "responseBody": "={{ JSON.stringify($json) }}", "options": { "responseCode": 200 } }, "id": "sar-0011", "name": "Respond OK", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [2320, 360] },
    { "parameters": { "respondWith": "json", "responseBody": "={{ JSON.stringify({ ok: false, error: $json.error || 'Unauthorized' }) }}", "options": { "responseCode": "={{ $json.status || 401 }}" } }, "id": "sar-0012", "name": "Respond 4xx", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [880, 580] }
  ],
  "connections": {
    "Webhook":         { "main": [[ { "node": "Extract",      "type": "main", "index": 0 } ]] },
    "Extract":         { "main": [[ { "node": "IF Bad",       "type": "main", "index": 0 } ]] },
    "IF Bad":          { "main": [ [ { "node": "Respond 4xx", "type": "main", "index": 0 } ], [ { "node": "Check Dedup", "type": "main", "index": 0 } ] ] },
    "Check Dedup":     { "main": [[ { "node": "Plan Insert",  "type": "main", "index": 0 } ]] },
    "Plan Insert":     { "main": [[ { "node": "IF Dedup",     "type": "main", "index": 0 } ]] },
    "IF Dedup":        { "main": [ [ { "node": "Shape Dedup", "type": "main", "index": 0 } ], [ { "node": "Insert Alert", "type": "main", "index": 0 } ] ] },
    "Insert Alert":    { "main": [[ { "node": "Notify (Postmark)", "type": "main", "index": 0 } ]] },
    "Notify (Postmark)":{ "main": [[ { "node": "Shape Response", "type": "main", "index": 0 } ]] },
    "Shape Response":  { "main": [[ { "node": "Respond OK",   "type": "main", "index": 0 } ]] },
    "Shape Dedup":     { "main": [[ { "node": "Respond OK",   "type": "main", "index": 0 } ]] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false
}
