workflows/api/sentinel/clx-sentinel-cost-collector-vapi-v1.json
{
  "id": "clxSentinelCostCollectorVapiV1",
  "name": "CLX - Sentinel Cost Collector Vapi v1",
  "nodes": [
    { "parameters": { "rule": { "interval": [ { "field": "cronExpression", "expression": "0 6 * * *" } ] } }, "id": "scv-0001", "name": "Schedule 06:00 Daily", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [200, 200] },
    { "parameters": { "httpMethod": "POST", "path": "api/sentinel/cost/collect-vapi", "responseMode": "responseNode", "options": {} }, "id": "scv-0002", "name": "Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 1.1, "position": [200, 400], "webhookId": "clx-sentinel-cost-collector-vapi-001", "notes": "DEACTIVATED. Cron 06:00 daily + manual webhook. Sums yesterday's messages_sent rows where channel='voice' — those are Vapi AI voice calls. cost_cents recorded per-call." },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/messages_sent?channel=eq.voice&sent_at=gte.' + new Date(Date.now() - 86400000).toISOString().slice(0,10) + 'T00:00:00Z&sent_at=lt.' + new Date().toISOString().slice(0,10) + 'T00:00:00Z&select=cost_cents,status,external_id' }}",
        "authentication": "genericCredentialType", "genericAuthType": "httpCustomAuth",
        "sendHeaders": true, "headerParameters": { "parameters": [ { "name": "Accept", "value": "application/json" } ] },
        "options": { "continueOnFail": true }
      },
      "id": "scv-0003", "name": "Fetch Voice Calls", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [480, 300],
      "credentials": { "httpCustomAuth": { "name": "Supabase Crystallux Custom" } }
    },
    {
      "parameters": {
        "jsCode": "const rows = Array.isArray($input.item.json) ? $input.item.json : [];\nlet costCents = 0;\nlet succeeded = 0, failed = 0;\nrows.forEach(function (r) {\n  const c = parseInt(r.cost_cents) || 0;\n  costCents += c;\n  if (r.status === 'delivered' || r.status === 'replied') succeeded++;\n  else if (r.status === 'failed') failed++;\n});\nconst tracking_date = new Date(Date.now() - 86400000).toISOString().slice(0,10);\nreturn { json: { row: { tracking_date, service_name: 'vapi', spend_cents: costCents, data_source: 'internal_log', usage_metrics: { calls_total: rows.length, succeeded, failed }, notes: 'Computed from messages_sent.cost_cents where channel=voice. If voice calls are also routed through Twilio, deduplicate by external_id prefix.' } } };",
        "mode": "runOnceForAllItems"
      },
      "id": "scv-0004", "name": "Compute Spend", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [720, 300]
    },
    {
      "parameters": {
        "method": "POST", "url": "https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/sentinel_cost_tracking?on_conflict=tracking_date,service_name",
        "authentication": "genericCredentialType", "genericAuthType": "httpCustomAuth",
        "sendHeaders": true, "headerParameters": { "parameters": [ { "name": "Content-Type", "value": "application/json" }, { "name": "Prefer", "value": "resolution=merge-duplicates,return=representation" } ] },
        "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify($json.row) }}",
        "options": {}
      },
      "id": "scv-0005", "name": "Upsert Spend Row", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [960, 300],
      "credentials": { "httpCustomAuth": { "name": "Supabase Crystallux Custom" } }
    },
    { "parameters": { "jsCode": "const rows = $input.item.json;\nconst row = Array.isArray(rows) ? rows[0] : rows;\nreturn { json: { ok: true, service: 'vapi', tracking_date: row.tracking_date, spend_cents: row.spend_cents, usage: row.usage_metrics } };", "mode": "runOnceForEachItem" }, "id": "scv-0006", "name": "Shape Response", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1200, 300] },
    { "parameters": { "respondWith": "json", "responseBody": "={{ JSON.stringify($json) }}", "options": { "responseCode": 200 } }, "id": "scv-0007", "name": "Respond OK", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [1440, 300] }
  ],
  "connections": {
    "Schedule 06:00 Daily": { "main": [[ { "node": "Fetch Voice Calls", "type": "main", "index": 0 } ]] },
    "Webhook":              { "main": [[ { "node": "Fetch Voice Calls", "type": "main", "index": 0 } ]] },
    "Fetch Voice Calls":    { "main": [[ { "node": "Compute Spend",    "type": "main", "index": 0 } ]] },
    "Compute Spend":        { "main": [[ { "node": "Upsert Spend Row", "type": "main", "index": 0 } ]] },
    "Upsert Spend Row":     { "main": [[ { "node": "Shape Response",   "type": "main", "index": 0 } ]] },
    "Shape Response":       { "main": [[ { "node": "Respond OK",       "type": "main", "index": 0 } ]] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false
}
