workflows/api/video/clx-video-delivery-router-v1.json
{
  "id": "clxVideoDeliveryRouterV1",
  "name": "CLX - Video Delivery Router v1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "video/delivery-route",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "vdr-0001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [200, 400],
      "webhookId": "clx-video-delivery-router-001",
      "notes": "DEACTIVATED. Internal-call (INTERNAL_EMAIL_SECRET). Triggered when a video is ready (B3). Reads lead's preferred channel from agent_personalities (per-client default) plus channel availability in agent_channels_enabled, composes a short intro message + landing_page_url, calls the appropriate sender (B8 WhatsApp / B9 SMS / clx-email-send). Logs everything to messages_sent."
    },
    {
      "parameters": {
        "jsCode": "const body = ($input.item.json && $input.item.json.body) || $input.item.json || {};\nconst secret = body.internal_secret || '';\nconst expected = process.env.INTERNAL_EMAIL_SECRET || '';\nif (!expected || secret !== expected) return { json: { _unauthorized: true, error: 'internal secret required' } };\nif (!body.video_render_id) return { json: { _empty: true, error: 'video_render_id required' } };\nreturn { json: { _authorized: true, video_render_id: body.video_render_id } };",
        "mode": "runOnceForEachItem"
      },
      "id": "vdr-0002",
      "name": "Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict", "version": 2 },
          "conditions": [ { "id": "c1", "leftValue": "={{ $json._authorized }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } } ],
          "combinator": "and"
        }
      },
      "id": "vdr-0003",
      "name": "IF Authorized",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [640, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/video_renders?id=eq.' + encodeURIComponent($json.video_render_id) + '&select=*&limit=1' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Accept", "value": "application/json" } ] },
        "options": {}
      },
      "id": "vdr-0004",
      "name": "Fetch Render",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 320],
      "credentials": { "httpCustomAuth": { "name": "Supabase Crystallux Custom" } }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.item.json;\nconst row = Array.isArray(rows) ? rows[0] : rows;\nif (!row || !row.id || !row.lead_id) return { json: { _failed: true, error: 'render row not found or no lead_id' } };\nreturn { json: { render: row } };",
        "mode": "runOnceForEachItem"
      },
      "id": "vdr-0005",
      "name": "Unwrap Render",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 320]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/leads?id=eq.' + encodeURIComponent($json.render.lead_id) + '&select=id,first_name,full_name,company,email,phone&limit=1' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Accept", "value": "application/json" } ] },
        "options": {}
      },
      "id": "vdr-0006",
      "name": "Fetch Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1360, 240],
      "credentials": { "httpCustomAuth": { "name": "Supabase Crystallux Custom" } }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/agent_channels_enabled?client_id=eq.' + encodeURIComponent($('Unwrap Render').item.json.render.client_id) + '&enabled=eq.true&select=channel,configuration' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Accept", "value": "application/json" } ] },
        "options": {}
      },
      "id": "vdr-0007",
      "name": "Fetch Enabled Channels",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1360, 400],
      "credentials": { "httpCustomAuth": { "name": "Supabase Crystallux Custom" } }
    },
    {
      "parameters": {
        "mode": "append",
        "numberInputs": 2
      },
      "id": "vdr-0008",
      "name": "Merge Branches",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1620, 320]
    },
    {
      "parameters": {
        "jsCode": "const allOf = function (name) {\n  try {\n    const items = $(name).all().map(function (i) { return i.json; });\n    if (items.length === 1 && Array.isArray(items[0])) return items[0];\n    return items;\n  } catch (e) { return []; }\n};\nconst leads = allOf('Fetch Lead');\nconst channels = allOf('Fetch Enabled Channels');\nconst lead = leads[0] || {};\nconst render = $('Unwrap Render').item.json.render;\n\n// Channel ranking: prefer WhatsApp > SMS > Email > nothing.\nconst byName = {};\nfor (const c of channels) byName[c.channel] = c;\nlet chosen = null;\nif (byName.whatsapp && lead.phone) chosen = 'whatsapp';\nelse if (byName.sms && lead.phone) chosen = 'sms';\nelse if (byName.email && lead.email) chosen = 'email';\nelse if (lead.email) chosen = 'email';   // fallback to email even if not flipped\n\nif (!chosen) return { json: { _no_channel: true, error: 'no usable channel for lead' } };\n\nconst firstName = lead.first_name || (lead.full_name || '').split(' ')[0] || 'there';\nconst intro = 'Hi ' + firstName + ', I made a quick personalised video for you — takes 60 seconds: ' + render.landing_page_url;\n\nreturn { json: {\n  channel: chosen,\n  lead_id: lead.id,\n  client_id: render.client_id,\n  video_render_id: render.id,\n  to_phone: lead.phone || null,\n  to_email: lead.email || null,\n  content: intro,\n  landing_page_url: render.landing_page_url\n} };",
        "mode": "runOnceForAllItems"
      },
      "id": "vdr-0009",
      "name": "Choose Channel + Compose",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1860, 320]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict", "version": 2 },
          "conditions": [ { "id": "c1", "leftValue": "={{ $json._no_channel }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } } ],
          "combinator": "and"
        }
      },
      "id": "vdr-0010",
      "name": "IF No Channel",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2100, 320]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            { "conditions": { "options": { "caseSensitive": true, "typeValidation": "strict", "version": 2 }, "conditions": [ { "leftValue": "={{ $json.channel }}", "rightValue": "whatsapp", "operator": { "type": "string", "operation": "equals" } } ], "combinator": "and" }, "outputKey": "whatsapp" },
            { "conditions": { "options": { "caseSensitive": true, "typeValidation": "strict", "version": 2 }, "conditions": [ { "leftValue": "={{ $json.channel }}", "rightValue": "sms", "operator": { "type": "string", "operation": "equals" } } ], "combinator": "and" }, "outputKey": "sms" },
            { "conditions": { "options": { "caseSensitive": true, "typeValidation": "strict", "version": 2 }, "conditions": [ { "leftValue": "={{ $json.channel }}", "rightValue": "email", "operator": { "type": "string", "operation": "equals" } } ], "combinator": "and" }, "outputKey": "email" }
          ]
        },
        "options": {}
      },
      "id": "vdr-0011",
      "name": "Switch Channel",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [2340, 480]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.N8N_INTERNAL_BASE || 'http://localhost:5678') + '/webhook/messaging/whatsapp-send' }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Content-Type", "value": "application/json" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ internal_secret: $env.INTERNAL_EMAIL_SECRET, lead_id: $json.lead_id, client_id: $json.client_id, content: $json.content, video_render_id: $json.video_render_id }) }}",
        "options": { "timeout": 15000 }
      },
      "id": "vdr-0012",
      "name": "Call WhatsApp Send",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2580, 280],
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.N8N_INTERNAL_BASE || 'http://localhost:5678') + '/webhook/messaging/sms-send' }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Content-Type", "value": "application/json" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ internal_secret: $env.INTERNAL_EMAIL_SECRET, lead_id: $json.lead_id, client_id: $json.client_id, content: $json.content, video_render_id: $json.video_render_id }) }}",
        "options": { "timeout": 15000 }
      },
      "id": "vdr-0013",
      "name": "Call SMS Send",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2580, 460],
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.N8N_INTERNAL_BASE || 'http://localhost:5678') + '/webhook/email/send' }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Content-Type", "value": "application/json" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ internal_secret: $env.INTERNAL_EMAIL_SECRET, template: 'lead-meeting-booked', to: $json.to_email, vars: { first_name: 'there', message: $json.content, landing_url: $json.landing_page_url } }) }}",
        "options": { "timeout": 15000 }
      },
      "id": "vdr-0014",
      "name": "Call Email Send",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2580, 640],
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://zqwatouqmqgkmaslydbr.supabase.co/rest/v1/video_renders?id=eq.' + encodeURIComponent($('Choose Channel + Compose').item.json.video_render_id) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'delivered', delivered_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "vdr-0015",
      "name": "Mark Delivered",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2820, 460],
      "credentials": { "httpCustomAuth": { "name": "Supabase Crystallux Custom" } },
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, channel: $('Choose Channel + Compose').item.json.channel, video_render_id: $('Choose Channel + Compose').item.json.video_render_id }) }}",
        "options": { "responseCode": 200 }
      },
      "id": "vdr-0016",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [3060, 460]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: false, error: $json.error || 'no_channel_or_unauthorized' }) }}",
        "options": { "responseCode": "={{ $json._unauthorized ? 401 : 400 }}" }
      },
      "id": "vdr-0017",
      "name": "Respond 4xx",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [880, 580]
    }
  ],
  "connections": {
    "Webhook":                 { "main": [[ { "node": "Validate", "type": "main", "index": 0 } ]] },
    "Validate":                { "main": [[ { "node": "IF Authorized", "type": "main", "index": 0 } ]] },
    "IF Authorized":           { "main": [[ { "node": "Fetch Render", "type": "main", "index": 0 } ], [ { "node": "Respond 4xx", "type": "main", "index": 0 } ]] },
    "Fetch Render":            { "main": [[ { "node": "Unwrap Render", "type": "main", "index": 0 } ]] },
    "Unwrap Render":           { "main": [[ { "node": "Fetch Lead", "type": "main", "index": 0 }, { "node": "Fetch Enabled Channels", "type": "main", "index": 0 } ]] },
    "Fetch Lead":              { "main": [[ { "node": "Merge Branches", "type": "main", "index": 0 } ]] },
    "Fetch Enabled Channels":  { "main": [[ { "node": "Merge Branches", "type": "main", "index": 1 } ]] },
    "Merge Branches":          { "main": [[ { "node": "Choose Channel + Compose", "type": "main", "index": 0 } ]] },
    "Choose Channel + Compose":{ "main": [[ { "node": "IF No Channel", "type": "main", "index": 0 } ]] },
    "IF No Channel":           { "main": [[ { "node": "Respond 4xx", "type": "main", "index": 0 } ], [ { "node": "Switch Channel", "type": "main", "index": 0 } ]] },
    "Switch Channel":          { "main": [[ { "node": "Call WhatsApp Send", "type": "main", "index": 0 } ], [ { "node": "Call SMS Send", "type": "main", "index": 0 } ], [ { "node": "Call Email Send", "type": "main", "index": 0 } ]] },
    "Call WhatsApp Send":      { "main": [[ { "node": "Mark Delivered", "type": "main", "index": 0 } ]] },
    "Call SMS Send":           { "main": [[ { "node": "Mark Delivered", "type": "main", "index": 0 } ]] },
    "Call Email Send":         { "main": [[ { "node": "Mark Delivered", "type": "main", "index": 0 } ]] },
    "Mark Delivered":          { "main": [[ { "node": "Respond OK", "type": "main", "index": 0 } ]] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false
}
